/**
 * Editor Styles
 */
@import "../variables";

// Fullheight
// 32px - wordpress top bar
// 56px - gutenberg top bar
// 28px - block padding
.gutenberg .ghostkit-google-maps-fullheight .ghostkit-google-maps-wrap,
.gutenberg .ghostkit-google-maps-fullheight .ghostkit-google-maps-placeholder {
    height: calc(100vh - 32px - 56px - 28px);

    @media screen and (max-width: 782px) {
        height: calc(100vh - 42px - 56px - 28px);
    }
    @media screen and (max-width: 600px - 56px - 28px) {
        height: calc(100vh - 56px - 28px);
    }
}

.ghostkit-google-maps-wrap {
    height: 1px;
}

.ghostkit-google-maps-search {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    margin-top: 15px;
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 3px;

    > div {
        flex: 1;
        min-width: 250px;
        max-width: 250px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .ghostkit-google-maps-search-note {
        padding-top: 20px;
        font-size: 14px;

        p {
            margin-top: 0;
            line-height: 1.4;

            + p {
                margin-top: -10px;
            }
        }

        small {
            font-size: 12px;
            opacity: .6;

            + small {
                margin-left: 10px;
            }
        }
    }
}

// markers
.ghostkit-google-maps-markers {
    li {
        margin-bottom: 15px;

        &::after {
            content: "";
            display: block;
            padding-top: 15px;
            margin-right: -16px;
            margin-left: -16px;
            clear: both;
            border-bottom: 1px solid #efefef;
        }
    }

    .ghostkit-google-maps-marker-remove {
        float: right;
        padding: 0;
        font-size: 10px;
        color: #b9b9b9;
        box-shadow: none !important; // stylelint-disable-line

        &:hover {
            color: #e73535;
        }
    }
}

// placeholder
.ghostkit-google-maps-placeholder {
    position: relative;
    background-color: #e2e2e2;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: .3;
        transform: translateX(-50%) translateY(-50%);
    }

    .ghostkit-google-maps-placeholder-key {
        position: absolute;
        bottom: 0;
        padding: 5px 10px;
        margin: 10px;
        font-size: 13px;
        background-color: #fff;
        border: 1px solid #dadada;
    }
}

// Search dropdown
.pac-container {
    box-shadow: 0 2px 17px rgba(0, 0, 0, .2);

    &::after {
        height: 20px;
        background-position: calc(100% - 7px) 1px;
        background-size: 80px;
    }

    .pac-item {
        padding: 2px 6px;
        border-top: 1px solid #f3f3f3;
    }
}
