/**
 * GAPS for Grid, Buttons, Instagram, Pricing Table.
 */
$grid-gaps: (
    // we need to use `px` unit because of conflict with CSS variables and 0 value.
    no: 0 * 1px,
    sm: 15px,
    md: 30px,
    lg: 45px
) !default;

/**
 * Bootstrap.
 */
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/grid";
@import "./bootstrap/breakpoints";

/**
 * WordPress.
 */
@import "../../node_modules/@wordpress/base-styles/colors";
@import "../../node_modules/@wordpress/base-styles/variables";
@import "../../node_modules/@wordpress/base-styles/breakpoints";
@import "../../node_modules/@wordpress/base-styles/mixins";

// Breakpoints.
$media-xs: 576px !default;
$media-sm: 768px !default;
$media-md: 992px !default;
$media-lg: 1200px !default;

// Main Colors.
$color-brand: #5c39a7 !default;
$color-dark-gray: #32373c !default;
$color-light-gray: #f3f4f5 !default;

// Additional Colors.
$color-primary: #0366d6 !default;
$color-success: #4ab866 !default;
$color-danger: #d94f4f !default;
$color-warning: #f0b849 !default;
$color-info: #2ebef5 !default;
