@import "../../variables";

.ghostkit-pro-component-note-inner {
    padding: 20px;
    text-align: center;
    background-color: $light-gray-300;
    border-radius: 4px;

    h3 {
        margin-bottom: 15px;
    }
}

.ghostkit-pro-component-note-button {
    display: inline-block;
    padding: 7px 15px;
    margin-top: 5px;
    text-decoration: none;
    background: linear-gradient(-45deg, #5c39a7, #528be6);
    border-radius: 3px;

    &,
    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }
}
