/**
 * Editor Styles
 */
@import "./style";

// Hide Grid block if inserted for templates modal only.
[data-ghostkit-grid-templates-modal-only] {
  display: none;
}

// Styles from core Columns block
// https://github.com/WordPress/gutenberg/blob/master/blocks/library/columns/editor.scss
// .ghostkit-grid {
//   position: relative;
//   display: block;
//   padding-bottom: 0.01px;
//   // These margins make sure that nested blocks stack/overlay with the parent block chrome
//   // This is sort of an experiment at making sure the editor looks as much like the end result as possible
//   // Potentially the rules here can apply to all nested blocks and enable stacking, in which case it should be moved elsewhere
//   margin-right: 0;
//   margin-left: 0;
// }

// Background AWB
.ghostkit-grid > .awb-gutenberg-preview-block,
.ghostkit-col > .awb-gutenberg-preview-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: 0.15s border ease-in-out;

  // fix for AWB border style.
  &:empty {
    border: none;
  }

  > .nk-awb-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }

  // fixed for some default themes styles
  > .nk-awb-inner > img,
  > .nk-awb-inner > div,
  > div {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Example.
.block-editor-inserter__preview .ghostkit-col-content .block-editor-block-list__layout {
  margin-right: 0;
  margin-left: 0;
}

// Fix for displaying block appender.
.block-editor-block-list__block .ghostkit-col-content > .block-list-appender .block-editor-inserter__toggle.components-button {
  display: block;
}

// Highlight the label to easily select grid/column block by clicking on it.
.ghostkit-grid-button-select,
.ghostkit-column-button-select {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 21;
  // We should add it manually, since not all themes use box-sizing.
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  padding: 2px 4px;
  font-family: $default-font;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  background-color: $gray-900;
  border-radius: 14px;
  opacity: 0;
  transition: 0.2s opacity, 0.2s visibility, 0.2s background-color;

  svg {
    width: auto;
    height: 1em;
  }
}

.ghostkit-grid-button-select {
  top: auto;
  bottom: 100%;
  margin-bottom: 10px;
}

[data-type="ghostkit/grid"]:hover > .ghostkit-grid > .ghostkit-grid-button-select,
[data-type="ghostkit/grid-column"]:hover > .ghostkit-col-content > .ghostkit-column-button-select {
  visibility: visible;
  opacity: 1;
}

.ghostkit-grid-button-select:hover,
.ghostkit-column-button-select:hover {
  background-color: $blue-wordpress-700;
}

// add outlines on hover
[data-type="ghostkit/grid"]:not(.is-selected):hover::before,
[data-type="ghostkit/grid-column"]:not(.is-selected):hover::before {
  border-color: $dark-gray-100;
  border-left: 1px solid $dark-gray-100;
}

// Layouts selector.
.ghostkit-select-layout {
  padding: 25px;

  .components-placeholder__fieldset > em {
    margin-bottom: 25px;
  }

  .ghostkit-grid-layout-preview {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin-right: -7px;
    margin-left: -7px;

    .ghostkit-grid-layout-preview-btn {
      --gkt-grid__gap: 0%;

      box-sizing: border-box;
      display: flex;
      width: 85px;
      padding: 0;
      margin-right: 7px;
      margin-bottom: 14px;
      margin-left: 7px;
      overflow: hidden;
      cursor: pointer;
      background: none;
      border: 2px solid rgba($dark-gray-500, 0.75);
      border-radius: 4px;
      transition: 0.15s border-color, 0.15s background-color;

      .ghostkit-col {
        box-sizing: border-box;
        height: 40px;
        border-right: 2px solid rgba($dark-gray-500, 0.75);
        transition: 0.15s border-color;

        &:last-of-type {
          border-right: none;
        }
      }

      &:hover,
      &:focus {
        background-color: #fff;
        border-color: $dark-gray-500;

        .ghostkit-col {
          border-color: $dark-gray-500;
        }
      }
    }
  }

  // templates button.
  .components-button.is-primary {
    height: 35px;
    padding: 0 15px;
    margin-top: 10px;
    font-size: 14px;
  }
}

// Background controls.
.ghostkit-background-controls {
  > .components-panel__body > .components-panel__body {
    border: 1px solid #e0e0e0;
  }
}
