/**
 * Frontend Styles
 */
@import "./variables";

// Row
//
// Rows contain and clear the floats of your columns.
.ghostkit-grid-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--gkt-grid__justify-content);
    margin-top: calc(-1 * var(--gkt-grid__gap));
    margin-left: calc(-1 * var(--gkt-grid__gap));
}

// Fixes conflict with AWB backgrounds and gaps.
// @thanks https://github.com/nk-o/ghostkit/issues/104
.ghostkit-grid,
.ghostkit-col {
    padding-top: .02px;
}

// Columns
//
// Common styles for small and large grid columns
// Common properties for all breakpoints
.ghostkit-col {
    position: relative;
    display: flex;
    flex: 1;
    // Fix for previous columns implementation without .ghostkit-col-content
    flex-wrap: wrap;
    order: var(--gkt-grid--column__order);
    width: 100%;
    max-width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    margin-top: var(--gkt-grid__gap);
    margin-left: var(--gkt-grid__gap);
}
.ghostkit-col-content {
    align-self: var(--gkt-grid--column__align-self);
    width: 100%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        // Provide basic `.col-{bp}` classes for equal-width flexbox columns
        .ghostkit-col#{$infix} {
            flex: 1;
            width: 100%;
            max-width: 100%;
        }

        // col size.
        @for $i from 1 through $grid-columns {
            .ghostkit-col#{$infix}-#{$i} {
                // We can't use complex CSS variables here
                // https://github.com/nk-o/ghostkit/issues/103
                flex-basis: calc(#{percentage($i / $grid-columns)} - var(--gkt-grid__gap));
                flex-shrink: 0;
                flex-grow: 0;
                width: calc(#{percentage($i / $grid-columns)} - var(--gkt-grid__gap));
                max-width: calc(#{percentage($i / $grid-columns)} - var(--gkt-grid__gap));
            }
        }

        // col order.
        .ghostkit-col-order#{$infix}-first {
            --gkt-grid--column__order: -1;
        }
        .ghostkit-col-order#{$infix}-last {
            --gkt-grid--column__order: #{$grid-columns + 1};
        }

        @for $i from 0 through $grid-columns {
            .ghostkit-col-order#{$infix}-#{$i} {
                --gkt-grid--column__order: #{$i};
            }
        }
    }
}

// Vertical align.
.ghostkit-grid-align-items-start {
    --gkt-grid--column__align-self: flex-start;
}
.ghostkit-grid-align-items-center {
    --gkt-grid--column__align-self: center;
}
.ghostkit-grid-align-items-end {
    --gkt-grid--column__align-self: flex-end;
}

// Vertical align column.
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .ghostkit-col-align-self#{$infix}-start {
            --gkt-grid--column__align-self: flex-start;
        }
        .ghostkit-col-align-self#{$infix}-center {
            --gkt-grid--column__align-self: center;
        }
        .ghostkit-col-align-self#{$infix}-end {
            --gkt-grid--column__align-self: flex-end;
        }
    }
}

// Horizontal align.
.ghostkit-grid-justify-content-center {
    --gkt-grid__justify-content: center;
}
.ghostkit-grid-justify-content-end {
    --gkt-grid__justify-content: flex-end;
}
.ghostkit-grid-justify-content-around {
    --gkt-grid__justify-content: space-around;
}
.ghostkit-grid-justify-content-between {
    --gkt-grid__justify-content: space-between;
}

// Gaps.
@each $name, $size in $grid-gaps {
    .ghostkit-grid-gap-#{$name} {
        --gkt-grid__gap: #{$size};
    }
}

// Columns Sticky.
.ghostkit-col-sticky-top > .ghostkit-col-content {
    position: sticky;
    top: var(--gkt-grid--column-sticky__offset);
}
.ghostkit-col-sticky-bottom {
    display: flex;
    flex-direction: column;

    > .ghostkit-col-content {
        position: sticky;
        bottom: var(--gkt-grid--column-sticky__offset);
        margin-top: auto;
    }
}

// AWB backgrounds
.ghostkit-grid-with-bg,
.ghostkit-col-with-bg {
    position: relative;
    z-index: 0;

    > .nk-awb {
        &,
        .nk-awb-inner,
        .nk-awb-overlay,
        .nk-awb-wrap {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            z-index: -99;
        }
        .nk-awb-wrap {
            overflow: hidden;
        }

        /* Fix for Safari */
        .nk-awb-overlay {
            z-index: 0;
        }

        /* Background sizes */
        .nk-awb-inner {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            z-index: -100;
        }
        [data-awb-image-background-size="contain"] > .nk-awb-inner {
            background-size: contain;
        }
        [data-awb-image-background-size="pattern"] > .nk-awb-inner {
            background-repeat: repeat;
            background-size: auto;
        }

        /* Image sizes */
        .nk-awb-inner > .jarallax-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            /* support for plugin https://github.com/bfred-it/object-fit-images */
            font-family: "object-fit: cover;"; // stylelint-disable-line
            pointer-events: none;
            z-index: -100;
            object-fit: cover;
        }
        [data-awb-image-background-size="contain"] > .nk-awb-inner > .jarallax-img {
            object-fit: contain;

            /* support for plugin https://github.com/bfred-it/object-fit-images */
            font-family: "object-fit: contain;"; // stylelint-disable-line
        }
    }
}
