/**
 * Block Variables
 */
@import "../../../variables";

.ghostkit-google-maps {
    --gkt-google-maps__background-color: var(--gkt-color-light-gray);

    // Placeholder Icon.
    --gkt-google-maps--placeholder-icon__width: 36px;
    --gkt-google-maps--placeholder-icon__height: 36px;
    --gkt-google-maps--placeholder-icon__background-image: url("../../../../assets/images/google-maps-marker.svg");
    --gkt-google-maps--placeholder-icon__opacity: .3;
}
