@import "../../gutenberg/variables";

.ghostkit-settings-blocks {
	display: flex;
	align-items: flex-start;
}

.ghostkit-settings-blocks-left {
	flex: 1;
	max-width: 190px;
}

.ghostkit-settings-blocks-right {
	flex: 3;
	padding-left: 40px;
}

.ghostkit-settings-blocks-categories {
	margin: 0;

	li {
		margin: 0;
	}

	button {
		position: relative;
		display: block;
		width: 100%;
		padding: 10px 20px;
		margin-right: 15px;
		margin-bottom: 7px;
		color: $dark-gray-100;
		text-align: left;
		cursor: pointer;
		background: none;
		border: none;
		border-radius: 4px;
		outline: none;
		transition: 0.2s color, 0.2s background-color;

		&:hover {
			color: $dark-gray-700;
			background-color: $light-gray-300;
		}

		&.ghostkit-settings-blocks-categories-button-active {
			color: #fff;
			background-color: $dark-gray-500;
		}

		.ghostkit-settings-blocks-categories-button-indicator {
			position: absolute;
			top: 50%;
			right: 10px;
			width: 5px;
			height: 5px;
			margin-top: -2.5px;
			background-color: $dark-gray-500;
			border-radius: 100%;
		}
	}
}

.ghostkit-settings-blocks-items-head {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 0 25px;
	margin-top: 10px;
	margin-bottom: 10px;

	&.ghostkit-settings-blocks-items-head-hidden {
		visibility: hidden;
		opacity: 0;
	}

	.ghostkit-settings-blocks-items-head-count {
		font-weight: 300;
		color: $light-gray-900;
	}

	.ghostkit-settings-blocks-all-check {
		margin-left: auto;

		.components-form-toggle {
			margin-right: 0;
		}
	}
}

.ghostkit-settings-blocks-items {
	margin: 0;

	.ghostkit-settings-blocks-item {
		position: relative;
		padding: 25px;
		padding-right: 80px;
		margin-bottom: 20px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 0 0 1px $light-gray-400;
		transition: 0.2s opacity;

		&.ghostkit-settings-blocks-item-disabled {
			opacity: 0.3;
		}

		h3 {
			display: flex;
			align-items: center;
			margin-top: 0;
			margin-bottom: 10px;
			margin-bottom: 0;
			font-weight: 400;

			.ghostkit-settings-blocks-item-icon {
				display: inline-block;
				width: 30px;
				margin-right: 5px;
				margin-bottom: -4px;
				font-size: 15px;
				line-height: 15px;

				svg {
					max-width: 20px;
					max-height: 20px;
				}
			}
		}

		.ghostkit-settings-blocks-item-description {
			margin-top: 15px;
			font-weight: 300;
			color: $light-gray-900;
		}

		.ghostkit-settings-blocks-item-preview-url {
			margin-top: 10px;
		}

		.ghostkit-settings-blocks-item-check {
			position: absolute;
			top: 23px;
			right: 25px;

			.components-form-toggle {
				margin-right: 0;
			}
		}
	}
}
