/**
 * Editor Styles
 */
@import "../variables";

.editor-block-list__block[data-type="ghostkit/button"] {
    &[data-align="center"] {
        text-align: center;
    }

    &[data-align="right"] {
        text-align: right;
    }
}

.wp-block-ghostkit-button {
    position: relative;
    display: inline-block;
    margin-bottom: 0;

    .blocks-format-toolbar__link-modal {
        top: calc(100% + 2px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .blocks-link-url__suggestions {
        right: -35px;
    }

    .blocks-rich-text__tinymce {
        cursor: text;
    }
}

.ghostkit-button__inline-link {
    $blocks-button__link-input-width: 280px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: $blocks-button__link-input-width;
    font-family: $default-font;
    font-size: $default-font-size;
    line-height: $default-line-height;
    background: #fff;

    .editor-url-input {
        width: auto;
    }

    .editor-url-input__suggestions {
        width: $blocks-button__link-input-width - $icon-button-size - $icon-button-size;
    }

    > .dashicon {
        width: $icon-button-size;
    }

    .dashicon {
        color: $dark-gray-100;
    }

    .editor-url-input input[type="text"]::placeholder {
        color: $dark-gray-100;
    }

    [data-align="center"] & {
        margin-right: auto;
        margin-left: auto;
    }

    [data-align="right"] & {
        margin-right: 0;
        margin-left: auto;
    }
}
