/**
 * Editor Styles
 */
@import "../variables";

.ghostkit-button-wrapper {
    position: relative;
    margin-top: 0;

    .ghostkit-button {
        margin: 0 !important; // stylelint-disable-line
        line-height: 1em !important; // stylelint-disable-line
    }

    > .editor-inner-blocks > .editor-block-list__layout {
        // we need to use inline-flex because of bug with selecting wrapper block in editor.
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 0;

        > div {
            width: auto;
        }
    }

    &.ghostkit-button-wrapper-align-right > .editor-inner-blocks > .editor-block-list__layout {
        justify-content: flex-end;
    }
    &.ghostkit-button-wrapper-align-center > .editor-inner-blocks > .editor-block-list__layout {
        justify-content: center;
    }

    > .editor-inner-blocks > .editor-block-list__layout > * {
        > .editor-block-list__block-edit {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .blocks-format-toolbar__link-modal {
        top: calc(100% + 2px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .blocks-link-url__suggestions {
        right: -35px;
    }

    .blocks-rich-text__tinymce {
        cursor: text;
    }
}

.ghostkit-button__inline-link {
    $blocks-button__link-input-width: 260px;

    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: $blocks-button__link-input-width;
    max-width: $blocks-button__link-input-width;
    margin-top: 10px;
    font-family: $default-font;
    font-size: $default-font-size;
    line-height: $default-line-height;
    background: #fff;
    border: 1px solid #e2e4e7;
    box-shadow: 0 3px 30px rgba(25, 30, 35, .1);
    z-index: 7;

    // arrow.
    &::after,
    &::before {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 20px;
        width: 0;
        height: 0;
        pointer-events: none;
        border: solid transparent;
    }
    &::after {
        border: 5px solid rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
    }
    &::before {
        margin-left: -1px;
        border: 6px solid rgba(226, 228, 231, 0);
        border-bottom-color: #e2e4e7;
    }

    .editor-url-input {
        width: auto;

        input[type="text"] {
            width: 100%;
        }
    }

    .editor-url-input__suggestions {
        max-width: $blocks-button__link-input-width - $icon-button-size - $icon-button-size;
    }

    > .dashicon {
        width: $icon-button-size;
    }

    .dashicon {
        color: $dark-gray-100;
    }

    .editor-url-input input[type="text"]::placeholder {
        color: $dark-gray-100;
    }

    [data-align="center"] & {
        margin-right: auto;
        margin-left: auto;
    }

    [data-align="right"] & {
        margin-right: 0;
        margin-left: auto;
    }
}
