/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

.ghostkit-toc {
	min-height: 26px;
}

// loading spinner.
.ghostkit-toc-spinner {
	position: absolute;
	width: 100%;
	margin-bottom: 13px;

	&::after {
		display: block;
		clear: both;
		content: "";
	}

	> span,
	> svg {
		float: left;
		margin: 0;
	}
}
.ghostkit-toc-spinner-relative {
	position: relative;
}
