@import "../variables";

.ghostkit-component-icon-picker-wrapper {
    > .components-base-control__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
    }
}
.ghostkit-component-icon-picker-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    background: $light-gray-200;
    border: 1px solid $light-gray-200;
    border-radius: 4px;
    transition: .15s background-color, .15s box-shadow, .15s border-color;

    &:hover {
        background-color: #fff;
        border-color: $light-gray-500;
        box-shadow: 0 2px 7px 0 $light-gray-500;
    }

    &.ghostkit-component-icon-picker-button-active {
        background-color: #fff;
        border-color: $color-primary;
    }
}
.ghostkit-component-icon-picker {
    padding: 15px;

    .components-base-control + .components-base-control {
        margin-top: 15px;
    }

    .ghostkit-component-icon-picker-list-wrap {
        > span {
            position: sticky;
            display: block;
            top: 0;
            padding: 15px;
            margin-right: -15px;
            margin-left: -15px;
            font-weight: 500;
            background-color: #fff;
        }
    }
    .ghostkit-component-icon-picker-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -10px;
        margin-left: -10px;

        .ghostkit-component-icon-picker-button {
            width: calc(33.33% - 10px);
            max-width: calc(33.33% - 10px);
            height: 55px;
            margin-bottom: 10px;
            margin-left: 10px;
            font-size: 20px;
        }
    }
}
.ghostkit-component-icon-picker-preview-clickable {
    cursor: pointer;
}
