@import "../../gutenberg/variables";

.ghostkit-settings {
    h3 ~ h3 {
        margin-top: 35px;
    }

    .components-base-control + .components-base-control {
        margin-top: 1.5em;
    }
    .components-toggle-control {
        .components-base-control__field {
            display: flex;
        }
        .components-toggle-control__label {
            margin-left: 15px;
        }
    }
}
