/**
 * Editor Styles
 */
.ghostkit-icon {
  display: flex;

  .components-dropdown {
    display: block;
  }

  svg.ghostkit-svg-icon {
    display: block;
    width: 100%;
    height: 100%;
  }

  > span {
    transition: transform 0.15s;
  }
}
