/**
 * Editor Styles
 */
@import "./style";

.ghostkit-icon {
  .components-dropdown {
    display: block;
  }

  > span {
    transition: transform 0.15s;
  }
}

.ghostkit-icon-inner {
  color: var(--gkt-icon__color);
  background: var(--gkt-icon__background);
}
