.components-dropdown-menu__menu .ghostkit-block-actions-copy-paste {
	margin-top: 8px;
	margin-bottom: 8px;
	border-top: 1px solid #1e1e1e;
	border-bottom: 1px solid #1e1e1e;

	.components-menu-group__label {
		margin-top: 8px;
		margin-bottom: 5px;
	}
}

.ghostkit-block-actions-dropdown-paste {
	width: 100%;
}
