/**
 * Block Variables
 */
@import "../../../variables";

.ghostkit-countdown {
    // Unit.
    --gkt-countdown--unit__min-width: 6.2em;
    --gkt-countdown--unit__padding-x: .7em;
    --gkt-countdown--unit__padding-y: 1.4em;

    // Unit Number.
    --gkt-countdown--unit-number__font-weight: 700;
}
