@import "./variables";

.ghostkit-badge {
	display: inline-block;
	padding: var(--gkt-badge__padding-v) var(--gkt-badge__padding-h);
	font-size: var(--gkt-badge__font-size);
	font-weight: var(--gkt-badge__font-weight);
	line-height: var(--gkt-badge__line-height);
	color: var(--gkt-badge__text-color);
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: var(--gkt-badge-default__color);
	border: 0 solid var(--gkt-badge-default__color);
	border-radius: var(--gkt-badge__border-radius);
}

.ghostkit-badge-brand {
	background-color: var(--gkt-badge-brand__color);
	border-color: var(--gkt-badge-brand__color);
}

.ghostkit-badge-primary {
	background-color: var(--gkt-badge-primary__color);
	border-color: var(--gkt-badge-primary__color);
}

.ghostkit-badge-success {
	background-color: var(--gkt-badge-success__color);
	border-color: var(--gkt-badge-success__color);
}

.ghostkit-badge-danger {
	background-color: var(--gkt-badge-danger__color);
	border-color: var(--gkt-badge-danger__color);
}

.ghostkit-badge-warning {
	background-color: var(--gkt-badge-warning__color);
	border-color: var(--gkt-badge-warning__color);
}

.ghostkit-badge-info {
	background-color: var(--gkt-badge-info__color);
	border-color: var(--gkt-badge-info__color);
}
