/**
 * Block Variables
 */
@import "../../variables";

.ghostkit-badge {
	--gkt-badge__padding-v: 0.35em;
	--gkt-badge__padding-h: 0.6em;
	--gkt-badge__font-size: 0.75em;
	--gkt-badge__font-weight: 600;
	--gkt-badge__line-height: 1;
	--gkt-badge__border-radius: 1em;
	--gkt-badge__text-color: #fff;

	// Presets.
	--gkt-badge-default__color: var(--gkt-color-dark-gray);
	--gkt-badge-brand__color: var(--gkt-color-brand);
	--gkt-badge-primary__color: var(--gkt-color-primary);
	--gkt-badge-success__color: var(--gkt-color-success);
	--gkt-badge-danger__color: var(--gkt-color-danger);
	--gkt-badge-warning__color: var(--gkt-color-warning);
	--gkt-badge-info__color: var(--gkt-color-info);
}
