/**
 * Frontend Styles
 */
@import "./variables";

.ghostkit-shape-divider {
    display: block;
    overflow: hidden;
    color: var(--gkt-shape-divider__color);

    svg {
        display: block;
        min-width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    // Rotate
    &-flip-vertical svg {
        transform: translateX(-50%) scaleY(-1);
    }
    &-flip-horizontal svg {
        transform: translateX(-50%) scaleX(-1);
    }
    &-flip-vertical.ghostkit-shape-divider-flip-horizontal svg {
        transform: translateX(-50%) scaleY(-1) scaleX(-1);
    }
}
