@import "../../variables";

.ghostkit-component-active-indicator {
    width: 7px;
    height: 7px;
    background-color: $blue-medium-focus;
    border-radius: 7px;

    // Panel toggle.
    .components-panel__body-toggle & {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
    }

    // Responsive tabs.
    .ghostkit-control-tabs-icon & {
        position: absolute;
        top: -7px;
        left: 50%;
        width: 3px;
        height: 3px;
        transform: translateX(-50%);
    }
}
