/**
 * Editor Styles
 */
@import "./variables";

.editor-styles-wrapper {
	/* stylelint-disable-next-line no-invalid-position-at-import-rule */
	@import "./style";
}

.ghostkit-changelog .ghostkit-changelog-date h2 {
	font-size: inherit;
}
