@import "../../variables";
@import "./style";

.ghostkit-extension-frame-tabs {
  margin-top: -10px;
}

// Border additional options.
.ghostkit-control-border-additional {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 24px;

  > div:first-child {
    margin-right: auto;
  }

  .ghostkit-component-color-picker-wrapper {
    margin-bottom: 0 !important;

    .components-base-control__field {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .ghostkit-component-input-drag {
    margin-bottom: 0 !important;

    .components-base-control__field {
      margin-bottom: 0;
    }
  }
}

// Shadow
.ghostkit-control-box-shadow {
  display: flex;
  align-items: center;

  > div:first-child {
    margin-right: auto;
  }

  .ghostkit-component-color-picker-wrapper {
    margin-bottom: 0 !important;

    .components-base-control__field {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .ghostkit-component-input-drag {
    max-width: 45px;
    margin-bottom: 0 !important;

    .components-base-control__field {
      margin-bottom: 0;
    }
  }

  > div + div {
    margin-left: -1px;
  }

  > div:focus-within {
    z-index: 1;
  }

  .ghostkit-control-box-shadow-x input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ghostkit-control-box-shadow-y input,
  .ghostkit-control-box-shadow-blur input {
    border-radius: 0;
  }

  .ghostkit-control-box-shadow-spread input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Corner radius.
.ghostkit-control-radius {
  display: flex;

  > div + div {
    margin-left: -1px;
  }

  > div:focus-within {
    z-index: 1;
  }

  .ghostkit-control-radius-tl input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ghostkit-control-radius-tr input,
  .ghostkit-control-radius-br input {
    border-radius: 0;
  }

  .ghostkit-control-radius-bl input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .components-base-control,
  .components-base-control__field {
    margin-bottom: 0 !important;
  }
}
