@import "../../variables";

.ghostkit-component-transition-preview-wrapper > .components-base-control__field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0;

	> .components-base-control__label {
		margin-bottom: 0;
	}
}

.ghostkit-component-transition-preview {
	display: inline-block;
	width: 65%;
	height: auto;
	padding: 4px;
	margin-left: auto;
	overflow: hidden;
	cursor: pointer;
	background-color: var(--wp-admin-theme-color);
	border-radius: 4px;
	outline: none !important;
	box-shadow: none !important;

	> span {
		display: block;
		width: 16px;
		height: 16px;
		background-color: #fff;
		border-radius: 2px;
	}
}
