/**
 * Editor Styles
 */
@import "../../variables";

.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) .ghostkit-custom-code-plugin-icon svg,
.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) .ghostkit-custom-code-plugin-icon svg *,
.edit-post-pinned-plugins .components-icon-button.is-toggled .ghostkit-custom-code-plugin-icon svg,
.edit-post-pinned-plugins .components-icon-button.is-toggled .ghostkit-custom-code-plugin-icon svg *,
.edit-post-pinned-plugins .components-icon-button:hover .ghostkit-custom-code-plugin-icon svg,
.edit-post-pinned-plugins .components-icon-button:hover .ghostkit-custom-code-plugin-icon svg * {
    stroke: initial !important; // stylelint-disable-line
}

.ghostkit-plugin-custom-code-modal {
    .components-modal__header {
        border-bottom: none;
    }

    .ghostkit-component-modal-tab-panel .components-tab-panel__tabs {
        margin-top: -24px;
    }
}
