/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

.ghostkit-gist.components-placeholder {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 0;
	padding: 14px;
	background-color: #f8f9f9;

	.components-placeholder__label {
		justify-content: flex-start;
		margin-top: 5px;
		margin-right: 14px;
		margin-bottom: 0;

		~ * {
			width: auto;
		}
	}

	.components-placeholder__fieldset {
		flex: 1;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		max-width: none;

		> a {
			margin-left: 10px;
		}
	}

	.components-base-control {
		width: 100%;
		margin: 0;
	}
}

.ghostkit-gist-toolbar-url .components-base-control__field {
	display: flex;
	align-items: center;
	width: 300px;
	margin: 7px;
}
