/**
 * Frontend Styles
 */
@import "./variables";

.ghostkit-testimonial {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;

    // With link.
    &.ghostkit-testimonial-with-link {
        position: relative;

        .ghostkit-testimonial-link span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // Icon.
    .ghostkit-testimonial-icon {
        position: absolute;
        top: var(--gkt-testimonial--icon__top);
        left: var(--gkt-testimonial--icon__left);
        font-size: var(--gkt-testimonial--icon__font-size);
        opacity: var(--gkt-testimonial--icon__opacity);

        + .ghostkit-testimonial-content {
            padding-left: var(--gkt-testimonial--icon-content__offset);
        }
    }

    // Content.
    .ghostkit-testimonial-content {
        flex: 100%;
        padding: var(--gkt-testimonial--content__padding-x) var(--gkt-testimonial--content__padding-y);
        margin-bottom: var(--gkt-testimonial--content__margin-bottom);
        background-color: var(--gkt-testimonial--content__background-color);
        border-radius: var(--gkt-testimonial--content__border-radius);
    }

    // Photo.
    .ghostkit-testimonial-photo {
        width: var(--gkt-testimonial--photo__width);
        overflow: hidden;
        border-radius: var(--gkt-testimonial--photo__border-radius);

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        + .ghostkit-testimonial-meta,
        + .ghostkit-testimonial-stars {
            margin-left: var(--gkt-testimonial--meta__offset);
        }
    }

    // Meta.
    .ghostkit-testimonial-meta {
        display: flex;
        flex: 1;
        flex-direction: column;

        + .ghostkit-testimonial-stars {
            margin-left: var(--gkt-testimonial--meta__offset);
        }
    }
    .ghostkit-testimonial-name {
        line-height: var(--gkt-testimonial--name__line-height);
    }
    .ghostkit-testimonial-source {
        font-size: var(--gkt-testimonial--source__font-size);
        line-height: var(--gkt-testimonial--source__line-height);
        opacity: var(--gkt-testimonial--source__opacity);
    }
    .ghostkit-testimonial-name + .ghostkit-testimonial-source {
        margin-top: var(--gkt-testimonial--name-source__margin-top);
    }

    // Stars.
    .ghostkit-testimonial-stars {
        line-height: var(--gkt-testimonial--stars__line-height);

        .ghostkit-testimonial-stars-wrap {
            position: relative;
            display: inline-block;
        }

        .ghostkit-testimonial-stars-front,
        .ghostkit-testimonial-stars-back {
            height: var(--gkt-testimonial--stars__height);
            overflow: hidden;
            white-space: nowrap;
        }
        .ghostkit-testimonial-stars-front {
            position: absolute;
            color: var(--gkt-testimonial--stars-front__color);
        }
        .ghostkit-testimonial-stars-back {
            color: var(--gkt-testimonial--stars-back__color);
        }
    }

    @include media-breakpoint-down(md) {
        .ghostkit-testimonial-stars {
            flex: 100%;
            margin-top: var(--gkt-testimonial--stars-mobile__margin-top);
        }
        .ghostkit-testimonial-meta + .ghostkit-testimonial-stars,
        .ghostkit-testimonial-photo + .ghostkit-testimonial-stars {
            margin-left: 0;
        }
    }
}
