/**
 * Editor Styles
 */
@import "./variables";

.ghostkit-accordion {
    .ghostkit-accordion-item {
        display: block;
        margin-bottom: 20px;
    }

    .edit-post-visual-editor,
    .edit-post-visual-editor p,
    .editor-rich-text__tinymce.mce-content-body {
        line-height: inherit;
    }

    .ghostkit-accordion-item-heading {
        position: relative;
        display: block;
        padding: var(--gkt-accordion--heading__padding-x) var(--gkt-accordion--heading__padding-y);
        padding-right: var(--gkt-accordion--heading-collapse-icon__width);
        margin-bottom: -1px;
        font-weight: var(--gkt-accordion--heading__font-weight);
    }

    .ghostkit-accordion-item-collapse {
        position: absolute;
        top: 0;
        right: 0;
        width: var(--gkt-accordion--heading-collapse-icon__width);
        height: 100%;
        font-size: var(--gkt-accordion--heading-collapse-icon__font-size);
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        transition: var(--gkt-accordion__transition-duration) transform var(--gkt-accordion__transition-easing);
        will-change: trasnform;
    }

    .ghostkit-accordion-item-content {
        display: none;
    }

    .ghostkit-accordion-item-active {
        .ghostkit-accordion-item-heading {
            opacity: 1;
        }
        .ghostkit-accordion-item-collapse {
            transform: var(--gkt-accordion--heading-collapse-icon-active__transform);
        }
        .ghostkit-accordion-item-content {
            display: block;
        }
    }
}

// hide drag handler from accordion items
[data-type="ghostkit/accordion-item"] > .editor-block-mover > .editor-block-mover__control-drag-handle {
    display: none;
}

.ghostkit-accordion-add-item {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

// Example.
.block-editor-inserter__preview .ghostkit-accordion-item-content .block-editor-block-list__layout {
    margin-right: 0;
    margin-left: 0;
}
