/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

// fix content block height
.ghostkit-icon-box-content > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child {
  margin-top: 0;
}

.ghostkit-icon-box-content > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child {
  margin-bottom: 0;
}

.ghostkit-icon-box-content > .block-editor-inner-blocks > .block-editor-block-list__layout > :not(.wp-block):empty:last-child {
  margin-bottom: -$default-block-margin;
}
