/**
 * Block Variables
 */
@import "../../../variables";

.ghostkit-icon-box {
    --gkt-icon-box__padding-x: 1.5em;
    --gkt-icon-box__padding-y: 1.5em;
    --gkt-icon-box__border-width: 1px;
    --gkt-icon-box__border-color: var(--gkt-color-dark-gray);
    --gkt-icon-box__border-radius: var(--gkt-border-radius);

    // Icon.
    --gkt-icon-box--icon__offset: 1.5em;

    // Transitions.
    --gkt-icon-box__transition-duration: var(--gkt-transition-duration);
    --gkt-icon-box__transition-easing: var(--gkt-transition-easing);
}
