/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

// loading spinner.
.ghostkit-toc-spinner {
    position: absolute;
    width: 100%;
    margin-bottom: 13px;

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    > span {
        float: left;
        margin: 0;
    }
}
