.ghostkit-component-input-drag-has-icon {
	position: relative;

	svg {
		position: absolute;
		margin: 10px;
		color: #c0c0c0;
	}

	.ghostkit-component-input-drag .components-base-control__field .components-text-control__input {
		padding-left: 30px;
	}
}
