/**
 * Editor Styles
 */
@import "../../variables";

.ghostkit-testimonial {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;

    .ghostkit-testimonial-icon {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5em;
        opacity: .15;

        + .ghostkit-testimonial-content {
            padding-left: 55px;
        }
    }

    .ghostkit-testimonial-content {
        flex: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: $light-gray-100;
        border-radius: 5px;
    }

    .ghostkit-testimonial-photo {
        width: 50px;
        overflow: hidden;
        border-radius: 25px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            background-color: $light-gray-200;

            &:hover,
            &:focus,
            &:not(:disabled):not([aria-disabled="true"]):focus {
                background-color: $light-gray-300;
                box-shadow: none;
            }
        }

        + .ghostkit-testimonial-meta {
            margin-left: 15px;
        }
    }

    .ghostkit-testimonial-meta {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .ghostkit-testimonial-source {
        font-size: smaller;
        opacity: .5;
    }
    .ghostkit-testimonial-source,
    .ghostkit-testimonial-source .editor-rich-text__tinymce.mce-content-body {
        line-height: 1;
    }
}

// Example.
.block-editor-inserter__preview {
    .ghostkit-testimonial-photo {
        margin-top: 10px;
    }
    .ghostkit-testimonial-content .block-editor-block-list__layout {
        margin-right: 0;
        margin-left: 20px;
    }
}
