@import "../../variables";

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-down($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.ghostkit-d#{$infix}-none {
			display: none !important;
		}
		.ghostkit-d#{$infix}-block {
			display: block !important;
		}
	}
}
