@import "../../variables";

.ghostkit-component-code-editor {
	&.ace_editor {
		width: 100%;
		line-height: 1.45;
		background-color: $light-gray-100;
		border-radius: 3px;
		box-shadow: 0 0 0 1px $light-gray-400;

		.ace_gutter {
			background-color: $light-gray-400;
		}
	}

	.ace_tooltip {
		padding: 6px 10px;
		background: none;
		background-color: #fff;
		border: 1px solid #e4e4e4;
		border-radius: 3px;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 5%);
	}

	.ace_hidden-cursors {
		opacity: 0;
	}
}
