/**
 * Frontend Styles
 */
@import "../variables";

.ghostkit-tabs {
    .ghostkit-tabs-buttons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        border-bottom: 1px solid #dee2e6;

        &.ghostkit-tabs-buttons-align-start {
            justify-content: flex-start;
        }
        &.ghostkit-tabs-buttons-align-center {
            justify-content: center;
        }
        &.ghostkit-tabs-buttons-align-end {
            justify-content: flex-end;
        }

        > .ghostkit-tabs-buttons-item {
            padding: 8px 20px;
            margin-bottom: -1px;
            font-weight: 500;
            color: inherit;
            text-decoration: none;
            background-color: transparent;
            border: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            opacity: .6;
            transition: .15s border-color, .15s background-color, .15s opacity;
            will-change: border-color, background-color, opacity;

            &:hover {
                border-color: #dee2e6;
                opacity: 1;
            }

            &.ghostkit-tabs-buttons-item-active {
                background-color: #fff;
                border-color: #dee2e6;
                border-bottom-color: #fff;
                opacity: 1;
            }
        }
    }
    .ghostkit-tabs-content .ghostkit-tab {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        border: 0;
        opacity: 0;
        transition: .2s opacity;
        will-change: opacity;

        &.ghostkit-tab-active {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
            opacity: 1;
        }
    }
}
