/**
 * Editor Styles
 */
@import "../variables";

.ghostkit-carousel {
    position: relative;
    top: -15px;
    padding: 15px 0;
    padding-bottom: 10px;
    margin-bottom: -14px;
    overflow-x: auto;
    overflow-y: hidden;

    > .editor-inner-blocks > .editor-block-list__layout {
        display: flex;
        margin: 0;

        > .editor-block-list__block {
            flex: calc(50% - 10px);
            min-width: calc(50% - 10px);
            max-width: calc(50% - 10px);
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0;
            }

            // fix items margin top.
            > .editor-block-list__block-edit {
                margin-top: 12px;
            }

            > .editor-block-list__block-edit::before {
                background-color: rgba(126, 126, 126, .05);
            }

            // hide insertion button as it is bugged.
            > .editor-block-list__insertion-point {
                display: none;
            }
        }
    }
}
.editor-block-list__layout [data-type="ghostkit/carousel"] .editor-block-list__block-edit::before {
    bottom: 0;
}
