/**
 * Frontend Styles
 */
@import "../variables";


// Slider
.ghostkit-carousel {
    // arrows
    .ghostkit-carousel-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        font-size: .7em;
        color: #6c7781;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, .04), 0 0 1px 1px rgba(0, 0, 0, .02);
        opacity: .5;
        transition: .2s opacity ease-in-out, .2s box-shadow ease-in-out, .2s transform ease-in-out;
        will-change: opacity, box-shadow, transform;
        z-index: 1;

        // additional element to make the buttons clickable also in outside.
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
        }

        &:hover {
            box-shadow: 0 2px 10px 4px rgba(0, 0, 0, .04), 0 0 1px 1px rgba(0, 0, 0, .02);
            opacity: 1;
            transform: translateY(-1px);
        }
    }
    .ghostkit-carousel-arrow-prev {
        left: 10px;
    }
    .ghostkit-carousel-arrow-next {
        right: 10px;
    }

    // bullets
    &[data-show-bullets="true"] .ghostkit-carousel-items {
        padding-bottom: 25px;

        .ghostkit-carousel-arrow {
            margin-top: -20px - 25px / 2px;
        }
    }
    .ghostkit-carousel-bullets {
        position: absolute;
        margin-bottom: -15px;
        text-align: center;
        z-index: 1;

        &.swiper-pagination-bullets-dynamic {
            margin-bottom: -7px;
        }

        > span {
            position: relative;
            cursor: pointer;
            background-color: #6c7781;
            opacity: .2;
            transition: .15s opacity ease-in-out;
            will-change: opacity;

            &:hover {
                opacity: .5;
            }
            &.swiper-pagination-bullet-active {
                opacity: 1;
            }

            // additional element to make the buttons clickable also in outside.
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: -4px;
                right: -4px;
                bottom: -4px;
                left: -4px;
            }
        }
    }
}
