/**
 * Control Range Component CSS
 */
.ghostkit-component-range-control {
	> .components-base-control__field,
	> .components-base-control__field > .components-base-control,
	> .components-base-control__field > .components-base-control > .components-base-control__field {
		margin-bottom: 0;
	}

	> .components-base-control__field {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		> .components-base-control__label {
			flex: 100%;
			width: 100%;
		}

		> .components-range-control {
			flex: 1;
			margin-right: 10px;
		}

		.components-text-control__input {
			width: 64px;
		}
	}
}
