/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

.ghostkit-button-wrapper {
    position: relative;
    display: flex;
    margin-top: 0;

    > .block-editor-inner-blocks {
        width: calc(100% + var(--gkt-button__gap));
        margin-top: 0;
        margin-bottom: calc(-1 * var(--gkt-button__gap));
        margin-left: calc(-1 * var(--gkt-button__gap));

        > .block-editor-block-list__layout {
            // we need to use inline-flex because of bug with selecting wrapper block in editor.
            display: inline-flex;
            flex-wrap: wrap;
            align-items: var(--gkt-button__align-items);
            justify-content: var(--gkt-button__justify-content);
            width: 100%;
            margin-right: 0;
            margin-left: 0;

            > div {
                width: auto;
                margin: 0;
                margin-bottom: var(--gkt-button__gap);
                margin-left: var(--gkt-button__gap);
            }

            > .block-list-appender {
                margin-top: 8px;
                z-index: 7;

                &:empty {
                    display: none;
                }
            }
        }
    }

    .blocks-rich-text__tinymce {
        cursor: text;
    }

    // add new button
    .components-icon-button {
        align-self: center;

        &:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
            box-shadow: none;
        }
    }
}

.ghostkit-button {
    // stylelint-disable-next-line
    margin: 0 !important;

    .editor-rich-text__tinymce {
        line-height: 1em;
    }

    // States for color change preview.
    &.ghostkit-button-is-normal-state {
        color: var(--gkt-button__color);
        background-color: var(--gkt-button__background-color);
        border: var(--gkt-button__border-width) solid var(--gkt-button__border-color);
        box-shadow: var(--gkt-button__box-shadow);
    }
    &.ghostkit-button-is-hover-state {
        color: var(--gkt-button-hover__color);
        background-color: var(--gkt-button-hover__background-color);
        border: var(--gkt-button-hover__border-width) solid var(--gkt-button-hover__border-color);
        box-shadow: var(--gkt-button-hover__box-shadow);
    }
    &.ghostkit-button-is-focus-state {
        color: var(--gkt-button-focus__color);
        background-color: var(--gkt-button-focus__background-color);
        border: var(--gkt-button-focus__border-width) solid var(--gkt-button-focus__border-color);
        box-shadow: var(--gkt-button-focus__box-shadow);
    }
}

// fix centering when more than 2 lines of buttons
[data-type="ghostkit/button-single"] {
    margin: 0;
}

// Example.
.block-editor-inserter__preview [data-type="ghostkit/button-single"] + [data-type="ghostkit/button-single"] {
    margin-left: 35px;
}
