/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

.ghostkit-button-wrapper {
    position: relative;
    display: flex;
    margin-top: 0;

    > .block-editor-inner-blocks {
        width: 100%;
    }

    .ghostkit-button {
        // stylelint-disable-next-line
        margin: 0 !important;

        .editor-rich-text__tinymce {
            line-height: 1em;
        }
    }

    // fix centering when more than 2 lines of buttons
    [data-type="ghostkit/button-single"] {
        margin: 0;
    }

    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        // we need to use inline-flex because of bug with selecting wrapper block in editor.
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        > div {
            width: auto;
        }

        > .block-list-appender {
            align-self: center;
            margin-bottom: 0;
            z-index: 7;
        }
    }

    &.ghostkit-button-wrapper-align-right > .block-editor-inner-blocks > .block-editor-block-list__layout {
        justify-content: flex-end;
    }
    &.ghostkit-button-wrapper-align-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
        justify-content: center;
    }

    .blocks-rich-text__tinymce {
        cursor: text;
    }

    // add new button
    .components-icon-button {
        align-self: center;

        &:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
            box-shadow: none;
        }
    }
}

// Gaps.
@each $name, $size in $button-gaps {
    .ghostkit-button-wrapper-gap-#{$name} {
        margin-right: 0;
        margin-left: 0;

        > .block-editor-inner-blocks {
            margin-top: $size / -2;
            margin-right: $size / -2;
            margin-left: $size / -2;

            > .block-editor-block-list__layout > div {
                margin-top: $size / 2;
                margin-right: $size / 2;
                margin-left: $size / 2;
            }
        }
    }
}

// Example.
.block-editor-inserter__preview [data-type="ghostkit/button-single"] + [data-type="ghostkit/button-single"] {
    margin-left: 35px;
}
