/**
 * Frontend Styles
 */
@import "./variables";

.ghostkit-button-wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    // why we need this https://wordpress.org/support/topic/buttons-alignment-issues/
    clear: both;

    .ghostkit-button-wrapper-align-right > & {
        justify-content: flex-end;
    }
    .ghostkit-button-wrapper-align-center > & {
        justify-content: center;
    }
}

.ghostkit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--gkt-button__padding-x) var(--gkt-button__padding-y);
    margin: 0;
    font-size: var(--gkt-button__font-size);
    line-height: var(--gkt-button__line-height);
    color: var(--gkt-button__color);
    text-align: center;
    text-decoration: none !important; // stylelint-disable-line declaration-no-important
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--gkt-button__background-color);
    border: none;
    outline: none;
    transition: var(--gkt-button__transition-duration) background-color var(--gkt-button__transition-easing), var(--gkt-button__transition-duration) color var(--gkt-button__transition-easing), var(--gkt-button__transition-duration) border-color var(--gkt-button__transition-easing), var(--gkt-button__transition-duration) opacity var(--gkt-button__transition-easing), var(--gkt-button__transition-duration) box-shadow var(--gkt-button__transition-easing);

    &:not(.ghostkit-button-with-outline) {
        box-shadow: none !important; // stylelint-disable-line declaration-no-important
    }

    &:hover {
        color: var(--gkt-button-hover__color);
        background-color: var(--gkt-button-hover__background-color);
    }
    &:focus,
    &:active {
        color: var(--gkt-button-focus__color);
        background-color: var(--gkt-button-focus__background-color);
    }

    .ghostkit-button-icon-left {
        margin-right: var(--gkt-button--icon__offset);
    }
    .ghostkit-button-icon-right {
        order: 2;
        margin-left: var(--gkt-button--icon__offset);
    }
    &.ghostkit-button-icon-only {
        padding: var(--gkt-button-icon-only__padding-x) var(--gkt-button-icon-only__padding-y);

        .ghostkit-button-icon {
            margin: 0;
        }
    }

    &.ghostkit-button-xs {
        font-size: var(--gkt-button-xs__font-size);
    }
    &.ghostkit-button-sm {
        font-size: var(--gkt-button-sm__font-size);
    }
    &.ghostkit-button-lg {
        font-size: var(--gkt-button-lg__font-size);
    }
    &.ghostkit-button-xl {
        font-size: var(--gkt-button-xl__font-size);
    }
}

// Gaps.
@each $name, $size in $button-gaps {
    .ghostkit-button-wrapper-gap-#{$name} > .ghostkit-button-wrapper-inner {
        margin-top: -$size;
        margin-right: ($size / -2);
        margin-left: ($size / -2);

        .ghostkit-button {
            margin-top: $size;
            margin-right: ($size / 2);
            margin-left: ($size / 2);
        }
    }
}
