/**
 * Frontend Styles
 */
@import "../../variables";

.ghostkit-button-wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    // why we need this https://wordpress.org/support/topic/buttons-alignment-issues/
    clear: both;

    .ghostkit-button-wrapper-align-right > & {
        justify-content: flex-end;
    }
    .ghostkit-button-wrapper-align-center > & {
        justify-content: center;
    }
}

.ghostkit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .75em 1em;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    color: $white;
    text-align: center;
    text-decoration: none !important; // stylelint-disable-line declaration-no-important
    white-space: nowrap;
    cursor: pointer;
    background-color: $dark-gray-700;
    border: none;
    outline: none;
    transition: .2s background-color ease-in-out, .2s color ease-in-out, .2s border-color ease-in-out, .2s opacity ease-in-out, .2s box-shadow ease-in-out;

    &:not(.ghostkit-button-with-outline) {
        box-shadow: none !important; // stylelint-disable-line declaration-no-important
    }

    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: $dark-gray-700;
    }

    .ghostkit-button-icon-left {
        margin-right: 10px;
    }
    .ghostkit-button-icon-right {
        margin-left: 10px;
    }
    &.ghostkit-button-icon-only {
        padding: .75em;

        .ghostkit-button-icon {
            margin: 0;
        }
    }

    &.ghostkit-button-xs {
        font-size: .8em;
    }
    &.ghostkit-button-sm {
        font-size: .85em;
    }
    &.ghostkit-button-lg {
        font-size: 1.15em;
    }
    &.ghostkit-button-xl {
        font-size: 1.3em;
    }
}

// Gaps.
@each $name, $size in $button-gaps {
    .ghostkit-button-wrapper-gap-#{$name} > .ghostkit-button-wrapper-inner {
        margin-top: -$size;
        margin-right: ($size / -2);
        margin-left: ($size / -2);

        .ghostkit-button {
            margin-top: $size;
            margin-right: ($size / 2);
            margin-left: ($size / 2);
        }
    }
}
