/**
 * Block Variables
 */
@import "../../../variables";

.ghostkit-accordion {
	// Heading.
	--gkt-accordion--heading__margin: 0;
	--gkt-accordion--heading__padding-v: 0.75em;
	--gkt-accordion--heading__padding-h: 0;
	--gkt-accordion--heading__font-weight: 500;
	--gkt-accordion--heading__font-size: 1em;
	--gkt-accordion--heading__line-height: 1.6;
	--gkt-accordion--heading__gap: 1em;

	// Heading Collapse Icon.
	--gkt-accordion--heading-collapse-icon__font-size: 1em;
	--gkt-accordion--heading-collapse-icon-active__transform: rotate(90deg);

	// Content.
	--gkt-accordion--content__padding-v: 0.75em;
	--gkt-accordion--content__padding-h: 0;

	// Transitions.
	--gkt-accordion__transition-duration: var(--gkt-transition-duration);
	--gkt-accordion__transition-easing: var(--gkt-transition-easing);
}
