/**
 * Frontend Styles
 */
@import "./variables";

.ghostkit-carousel {
    // Arrows.
    &-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        width: var(--gkt-carousel--arrows__width);
        height: var(--gkt-carousel--arrows__height);
        margin-top: calc(var(--gkt-carousel--arrows__height) / -2);
        font-size: var(--gkt-carousel--arrows__font-size);
        color: var(--gkt-carousel--arrows__color);
        cursor: pointer;
        background-color: var(--gkt-carousel--arrows__background-color);
        border-radius: var(--gkt-carousel--arrows__border-radius);
        box-shadow: var(--gkt-carousel--arrows__box-shadow);
        opacity: var(--gkt-carousel--arrows__opacity);
        transition: var(--gkt-carousel__transition-duration) opacity var(--gkt-carousel__transition-easing), var(--gkt-carousel__transition-duration) box-shadow var(--gkt-carousel__transition-easing), var(--gkt-carousel__transition-duration) transform var(--gkt-carousel__transition-easing);
        will-change: opacity, box-shadow, transform;
        z-index: 1;

        // additional element to make the buttons clickable also in outside.
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
        }

        &:hover,
        &:focus {
            box-shadow: var(--gkt-carousel--arrows-hover__box-shadow);
            opacity: var(--gkt-carousel--arrows-hover__opacity);
            transform: var(--gkt-carousel--arrows-hover__transform);
        }
    }
    &-arrow-prev {
        left: var(--gkt-carousel--arrows__offset);
    }
    &-arrow-next {
        right: var(--gkt-carousel--arrows__offset);
    }

    // Arrow icons.
    &-arrow-prev-icon,
    &-arrow-next-icon {
        display: none;
    }

    // Bullets.
    [data-show-bullets="true"] &-items {
        padding-bottom: var(--gkt-carousel--bullets__margin-top);
    }
    [data-show-bullets="true"] &-arrow {
        transform: translateY(calc(var(--gkt-carousel--bullets__margin-top) / -2));
    }
    &-bullets {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        bottom: 0;
        text-align: center;
        z-index: 1;

        &.swiper-pagination-bullets-dynamic {
            font-size: inherit;
        }

        .swiper-pagination-bullet {
            position: relative;
            width: var(--gkt-carousel--bullets__width);
            height: var(--gkt-carousel--bullets__height);
            margin: 0 calc(var(--gkt-carousel--bullets__gap) / 2);
            cursor: pointer;
            background-color: var(--gkt-carousel--bullets__background-color);
            border-radius: var(--gkt-carousel--bullets__border-radius);
            opacity: var(--gkt-carousel--bullets__opacity);
            transition: var(--gkt-carousel__transition-duration) opacity var(--gkt-carousel__transition-easing);
            will-change: opacity;

            &:hover,
            &:focus {
                opacity: var(--gkt-carousel--bullets-hover__opacity);
            }
            &.swiper-pagination-bullet-active {
                opacity: var(--gkt-carousel--bullets-active__opacity);
            }

            // additional element to make the buttons clickable also in outside.
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: -4px;
                right: -4px;
                bottom: -4px;
                left: -4px;
            }
        }
    }
}
