/**
 * Editor Styles
 */
@import "../variables";

.wp-block-ghostkit-custom-css {
    min-height: 0;
    padding: 30px;

    > div {
        width: 100%;
        max-width: 100%;
        text-align: left;
    }

    .components-placeholder__label {
        justify-content: flex-start;
    }

    .CodeMirror {
        width: 100%;
        border: 1px solid #ddd;
    }
}

/* Plugin styles*/
.wp-block-ghostkit-custom-css.ghostkit-custom-css-plugin {
    padding: 15px;
    background: none;

    .components-placeholder__label {
        display: none;
    }

    .components-placeholder__fieldset > p {
        width: 100%;
    }
}
