@import "../../gutenberg/variables";

.components-spinner {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 5px 11px 0;
    background-color: #7e8993;
    border-radius: 100%;
    opacity: .7;
}

.components-spinner::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 100%;
    transform-origin: 6px 6px;
    animation: components-spinner__animation 1s infinite linear;
}

@keyframes components-spinner__animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
