@import "../../blocks/variables";

$toggle-width: 36px !default;
$toggle-height: 18px !default;
$toggle-border-width: 2px !default;

.components-form-toggle {
    position: relative;
    width: $toggle-width;
    height: $toggle-height;

    // On/Off icon indicators.
    .components-form-toggle__on,
    .components-form-toggle__off {
        position: absolute;
        top: $toggle-border-width * 3;
    }

    .components-form-toggle__off {
        right: $toggle-border-width * 3;
        color: $dark-gray-300;
        fill: currentColor;
    }

    .components-form-toggle__on {
        left: $toggle-border-width * 3 + 2px; // Indent 2px extra because icon is thinner.
        fill: #fff;
    }

    // Unchecked state.
    .components-form-toggle__track {
        content: "";
        display: inline-block;
        width: $toggle-width;
        height: $toggle-height;
        vertical-align: top;
        background-color: $white;
        border: $toggle-border-width solid $dark-gray-300;
        border-radius: $toggle-height / 2;
        transition: .2s background ease;
    }

    .components-form-toggle__thumb {
        position: absolute;
        display: block;
        top: $toggle-border-width * 2;
        left: $toggle-border-width * 2;
        width: $toggle-height - ($toggle-border-width * 4);
        height: $toggle-height - ($toggle-border-width * 4);
        background-color: $dark-gray-300;
        border: 5px solid $dark-gray-300; // Has explicit border to act as a fill in Windows High Contrast Mode.
        border-radius: 50%;
        transition: .1s transform ease;
    }

    &:hover {
        .components-form-toggle__track {
            border: $toggle-border-width solid $dark-gray-500;
        }

        .components-form-toggle__thumb {
            background-color: $dark-gray-500;
            border: 5px solid $dark-gray-300; // Has explicit border to act as a fill in Windows High Contrast Mode.
        }

        .components-form-toggle__off {
            color: $dark-gray-500;
        }
    }

    // checked state
    &.is-checked .components-form-toggle__track {
        background-color: $color-brand-3;
        border: $toggle-border-width solid $color-brand-3;
        border: #{ $toggle-height / 2 } solid transparent; // Expand the border to fake a solid in Windows High Contrast Mode.
    }

    &.is-checked {
        .components-form-toggle__thumb {
            background-color: $white;
            border-width: 0; // Zero out the border color to make the thumb invisible in Windows High Contrast Mode.
            transform: translateX($toggle-width - ($toggle-border-width * 4) - ($toggle-height - ($toggle-border-width * 4)));
        }
    }
}

.components-form-toggle__input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 10;
}
