/**
 * Grid
 */
$grid-gaps: (
    no: 0,
    sm: 15px,
    md: 30px,
    lg: 45px
) !default;

/**
 * Instagram
 */
$instagram-gaps: (
    no: 0,
    sm: 15px,
    md: 30px,
    lg: 45px
) !default;

/**
 * Colors
 */

// Hugo's new WordPress shades of gray
// from http://codepen.io/hugobaeta/pen/grJjVp
$black: #000 !default;
$dark-gray-900: #191e23 !default;
$dark-gray-800: #23282d !default;
$dark-gray-700: #32373c !default;
$dark-gray-600: #40464d !default;
$dark-gray-500: #555d66 !default;    // use this most of the time for dark items
$dark-gray-400: #606a73 !default;
$dark-gray-300: #6c7781 !default;
$dark-gray-200: #7e8993 !default;
$dark-gray-100: #8f98a1 !default;
$light-gray-900: #a2aab2 !default;
$light-gray-800: #b5bcc2 !default;
$light-gray-700: #ccd0d4 !default;
$light-gray-600: #d7dade !default;
$light-gray-500: #e2e4e7 !default;   // good for "grayed" items and borders
$light-gray-400: #e8eaeb !default;
$light-gray-300: #edeff0 !default;
$light-gray-200: #f3f4f5 !default;
$light-gray-100: #f8f9f9 !default;
$white: #fff !default;

// Additional colors
// some from https://make.wordpress.org/design/handbook/foundations/colors/
$blue-wordpress-700: #00669b !default;
$blue-wordpress: #0073aa !default;
$blue-dark-900: #0071a1 !default;

$blue-medium-900: #006589 !default;
$blue-medium-800: #00739c !default;
$blue-medium-700: #007fac !default;
$blue-medium-600: #008dbe !default;
$blue-medium-500: #00a0d2 !default;
$blue-medium-400: #33b3db !default;
$blue-medium-300: #66c6e4 !default;
$blue-medium-200: #bfe7f3 !default;
$blue-medium-100: #e5f5fa !default;
$blue-medium-highlight: #b3e7fe !default;
$blue-medium-focus: #007cba !default;

// Colors
$color-primary: #0366d6 !default;
$color-success: #4ab866 !default;
$color-danger: #d94f4f !default;
$color-warning: #f0b849 !default;
$color-info: #2ebef5 !default;


/**
 * Often re-used variables
 */
// Fonts & basics
$default-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !default;
$default-font-size: 13px !default;
$default-line-height: 1.4 !default;
$editor-font: "Noto Serif", serif !default;
$editor-html-font: "Menlo", "Consolas", monaco, monospace !default;
$editor-font-size: 16px !default;
$text-editor-font-size: 14px !default;
$editor-line-height: 1.8 !default;
$big-font-size: 18px !default;
$mobile-text-min-font-size: 16px !default;	// Any font size below 16px will cause Mobile Safari to "zoom in"

// Widths, heights & dimensions
$item-spacing: 10px !default;
$panel-padding: 16px !default;
$header-height: 56px !default;
$panel-header-height: 50px !default;
$admin-bar-height: 32px !default;
$admin-bar-height-big: 46px !default;
$admin-sidebar-width: 160px !default;
$admin-sidebar-width-big: 190px !default;
$admin-sidebar-width-collapsed: 36px !default;
$empty-paragraph-height: $text-editor-font-size * 4 !default;

// Visuals
$shadow-popover: 0 3px 30px rgba($dark-gray-900, .1) !default;
$shadow-toolbar: 0 2px 10px rgba($dark-gray-900, .1), 0 0 2px rgba($dark-gray-900, .1) !default;
$shadow-below-only: 0 5px 10px rgba($dark-gray-900, .05), 0 2px 2px rgba($dark-gray-900, .05) !default;
$shadow-modal: 0 3px 30px rgba($dark-gray-900, .2) !default;

// Editor Widths
$sidebar-width: 280px !default;
$content-width: 610px !default; // For the visual width, subtract 30px (2 * $block-padding + 2px borders). This comes to 580px, which is optimized for 70 characters.

// Block UI
$border-width: 1px !default;
$block-controls-height: 36px !default;
$icon-button-size: 36px !default;
$icon-button-size-small: 24px !default;
$inserter-tabs-height: 36px !default;
$block-toolbar-height: $block-controls-height + $border-width !default;

// Blocks
$parent-block-padding: 28px !default; // padding of top level blocks, should be larger than $block-padding, otherwise a user can't select the parent from a child
$block-padding: 14px !default; // padding of nested blocks
$block-spacing: 4px !default; // vertical space between blocks

$block-side-ui-width: 28px !default; // width of the side UI, matches half matches half of a single line of text, so two buttons stacke matches 1
$block-side-ui-clearance: 2px !default; // space between side UI and block
$block-side-ui-padding: $block-side-ui-width + $block-side-ui-clearance !default; // total space used to accommodate side UI
$block-parent-side-ui-clearance: $parent-block-padding - $block-padding !default; // space between side UI and block on top level blocks

$block-container-side-padding: $block-side-ui-width + $block-padding + 2 * $block-side-ui-clearance !default;

// Buttons & UI Widgets
$radius-round-rectangle: 4px !default;
$radius-round: 50% !default;


/**
 * Breakpoints & Media Queries
 */

// Most used breakpoints
$break-huge: 1440px !default;
$break-wide: 1280px !default;
$break-large: 960px !default;	// admin sidebar auto folds
$break-medium: 782px !default;	// adminbar goes big
$break-small: 600px !default;
$break-mobile: 480px !default;

// All media queries currently in WordPress:
//
// min-width: 2000px
// min-width: 1680px
// min-width: 1250px
// max-width: 1120px *
// max-width: 1000px
// min-width: 769px and max-width: 1000px
// max-width: 960px *
// max-width: 900px
// max-width: 850px
// min-width: 800px and max-width: 1499px
// max-width: 800px
// max-width: 799px
// max-width: 782px *
// max-width: 768px
// max-width: 640px *
// max-width: 600px *
// max-width: 520px
// max-width: 500px
// max-width: 480px *
// max-width: 400px *
// max-width: 380px
// max-width: 320px *
//
// Those marked * seem to be more commonly used than the others.
// Let's try and use as few of these as possible, and be mindful about adding new ones, so we don't make the situation worse
