/**
 * Ghost Kit Frontend Styles.
 */
@import "./variables";

.ghostkit-progress,
.ghostkit-button-wrapper,
.ghostkit-icon-box,
.ghostkit-tabs,
.ghostkit-accordion,
.ghostkit-counter-box,
.ghostkit-alert,
.ghostkit-carousel,
.ghostkit-video,
.ghostkit-testimonial,
.ghostkit-gist,
.ghostkit-google-maps,
.ghostkit-changelog,
.ghostkit-pricing-table,
.ghostkit-widgetized-area,
.ghostkit-instagram,
.ghostkit-twitter {
    margin-bottom: 28px;
}

/**
 * Display.
 */
@import "./_bootstrap/functions";
@import "./_bootstrap/variables";
@import "./_bootstrap/breakpoints";
@import "./_bootstrap/display";

/**
 * Blocks Styles
 */
@import "./grid/style";
@import "./divider/style";
@import "./button/style";
@import "./progress/style";
@import "./icon-box/style";
@import "./tabs/style";
@import "./accordion/style";
@import "./counter-box/style";
@import "./alert/style";
@import "./carousel/style";
@import "./video/style";
@import "./testimonial/style";
@import "./gist/style";
@import "./google-maps/style";
@import "./changelog/style";
@import "./pricing-table/style";
@import "./instagram/style";
@import "./twitter/style";

/**
 * Format Styles
 */
@import "./_formats/badge/style";
@import "./_formats/uppercase/style";

/**
 * Additional classes.
 */

// Scroll Reveal
[data-ghostkit-sr] {
    pointer-events: none;
    visibility: hidden;
}
