/**
 * Editor Styles
 */
@import "./variables";

.ghostkit-tabs-legacy {
    // support up to 50 tabs.
    @for $tab from 1 through 50 {
        // Provide basic `.col-{bp}` classes for equal-width flexbox columns
        &[data-tab-active="#{$tab}"] .ghostkit-tabs-content [data-tab="#{$tab}"] {
            display: block;
        }
    }
}
