/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

.ghostkit-instagram {
	// Loading spinner.
	&-spinner {
		width: 100%;
		margin-bottom: 13px;

		> span {
			float: left;
			margin: 0;
		}
	}

	// Fix Items Gap.
	&-items {
		margin-top: 0;
		margin-bottom: calc(-1 * var(--gkt-instagram--photos__gap));
	}

	&-item {
		margin-top: 0;
		margin-bottom: var(--gkt-instagram--photos__gap);
	}
}
