/**
 * Editor Styles
 */
@import "./variables";
@import "./style";

// preview image with background pattern in Inspector Controls
.components-panel .ghostkit-gutenberg-media-upload > div {
    height: 150px;
}

.ghostkit-video-toolbar-url .components-base-control__field {
    width: 200px;
    margin-top: 1px;
    margin-right: 3px;
    margin-bottom: 0;
    margin-left: 1px;
}
