/**
 * Frontend Styles
 */
@import "./variables";
@import "./icon-only";

.ghostkit-video {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--gkt-video__background-color);

    // Aspect Ratio.
    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 56.25%;
    }
    &[data-video-aspect-ratio="16-9"]::before,
    &[data-video-aspect-ratio="16:9"]::before,
    &-aspect-ratio-16-9::before {
        padding-top: 56.25%;
    }
    &[data-video-aspect-ratio="21-9"]::before,
    &[data-video-aspect-ratio="21:9"]::before,
    &-aspect-ratio-21-9::before {
        padding-top: 42.857%;
    }
    &[data-video-aspect-ratio="4-3"]::before,
    &[data-video-aspect-ratio="4:3"]::before,
    &-aspect-ratio-4-3::before {
        padding-top: 75%;
    }
    &[data-video-aspect-ratio="3-2"]::before,
    &[data-video-aspect-ratio="3:2"]::before,
    &-aspect-ratio-3-2::before {
        padding-top: 66.667%;
    }

    // poster
    &-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-fit polyfill
            // stylelint-disable-next-line
            font-family: "object-fit: cover;";
        }
    }

    // play icon
    &-play-icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        width: var(--gkt-video--play-icon__width);
        height: var(--gkt-video--play-icon__height);
        margin-top: calc(var(--gkt-video--play-icon__width) / -2);
        margin-left: calc(var(--gkt-video--play-icon__height) / -2);
        font-size: var(--gkt-video--play-icon__font-size);
        color: var(--gkt-video--play-icon__color);
        background-color: var(--gkt-video--play-icon__background-color);
        border-radius: var(--gkt-video--play-icon__border-radius);
        box-shadow: var(--gkt-video--play-icon__box-shadow);
        opacity: 1;
        transition: var(--gkt-video__transition-duration) transform var(--gkt-video__transition-easing), var(--gkt-video__transition-duration) box-shadow var(--gkt-video__transition-easing), var(--gkt-video__transition-duration) opacity var(--gkt-video__transition-easing);
        will-change: box-shadow, transform, opacity;
        z-index: 2;
    }
    &:hover &-play-icon,
    &:focus &-play-icon {
        box-shadow: var(--gkt-video--play-icon-hover__box-shadow);
        transform: var(--gkt-video--play-icon-hover__transform);
    }
    &-loading &-play-icon,
    &-playing &-play-icon {
        opacity: 0;
    }

    // loading icon
    &-loading-icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        width: var(--gkt-video--loading-icon__width);
        height: var(--gkt-video--loading-icon__height);
        margin-top: calc(var(--gkt-video--loading-icon__width) / -2);
        margin-left: calc(var(--gkt-video--loading-icon__height) / -2);
        font-size: var(--gkt-video--loading-icon__font-size);
        color: var(--gkt-video--loading-icon__color);
        background-color: var(--gkt-video--loading-icon__background-color);
        border-radius: var(--gkt-video--loading-icon__border-radius);
        box-shadow: var(--gkt-video--loading-icon__box-shadow);
        opacity: 0;
        transition: var(--gkt-video__transition-duration) opacity var(--gkt-video__transition-easing);
        will-change: opacity;
        z-index: 3;
    }
    &-loading &-loading-icon {
        opacity: 1;
    }
    // prevent animation when hidden.
    &:not(&-loading) &-spinner {
        animation: none;
    }

    // Fullscreen close icon
    &-fullscreen-close-icon {
        display: none;
    }

    // video frame
    &-frame {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: var(--gkt-video__transition-duration) opacity var(--gkt-video__transition-easing), 0s var(--gkt-video__transition-duration) left;
        // we can't use will-change because of conflict with Safari fullscreen https://wordpress.org/support/topic/video-block-issue-in-safari/#post-12966010
        // will-change: opacity;
        z-index: 4;

        iframe,
        video {
            width: 100%;
            height: 100%;

            // fix for some themes.
            visibility: visible;
        }
    }
    &-playing &-frame {
        left: 0;
        opacity: 1;
        transition: var(--gkt-video__transition-duration) opacity var(--gkt-video__transition-easing), 0s left;
    }

    // Fullscreen video
    &-fullscreen {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--gkt-video-fullscreen__background-color);
        z-index: 1500;

        // fixed top position when WP admin bar showed.
        body.admin-bar & {
            top: 32px;
            height: calc(100% - 32px);

            @media screen and (max-width: 782px) {
                top: 42px;
                height: calc(100% - 42px);
            }
            @media screen and (max-width: 600px) {
                top: 0;
                height: 100%;
            }
        }

        &-frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            iframe,
            video {
                width: 100%;
                height: 100%;
            }
        }

        &-close {
            position: absolute;
            top: 0;
            right: 0;
            width: var(--gkt-video-fullscreen--close-button__width);
            height: var(--gkt-video-fullscreen--close-button__height);
            font-size: var(--gkt-video-fullscreen--close-button__font-size);
            line-height: var(--gkt-video-fullscreen--close-button__height);
            color: var(--gkt-video-fullscreen--close-button__color);
            text-align: center;
            cursor: pointer;
            opacity: var(--gkt-video-fullscreen--close-button__opacity);
            transition: var(--gkt-video-fullscreen__transition-duration) opacity var(--gkt-video-fullscreen__transition-easing);
            z-index: 2;

            &:hover,
            &:focus {
                opacity: var(--gkt-video-fullscreen--close-button-hover__opacity);
            }
        }
    }
}
