/**
 * Frontend Styles
 */
@import "./variables";

.ghostkit-divider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--gkt-divider__padding-x) var(--gkt-divider__padding-y);

    &::before,
    &::after {
        content: "";
        display: block;
        flex: 1;
        max-width: 50%;
        border-bottom: var(--gkt-divider__border-width) solid var(--gkt-divider__border-color);
        transition: var(--gkt-divider__transition-duration) border-color var(--gkt-divider__transition-easing);
    }

    &:not(.ghostkit-divider-with-icon) {
        &::before {
            max-width: 100%;
        }
        &::after {
            display: none;
        }
    }

    &.ghostkit-divider-type-solid::before,
    &.ghostkit-divider-type-solid::after {
        border-bottom-style: solid;
    }
    &.ghostkit-divider-type-dashed::before,
    &.ghostkit-divider-type-dashed::after {
        border-bottom-style: dashed;
    }
    &.ghostkit-divider-type-dotted::before,
    &.ghostkit-divider-type-dotted::after {
        border-bottom-style: dotted;
    }
    &.ghostkit-divider-type-double::before,
    &.ghostkit-divider-type-double::after {
        border-bottom-style: double;
    }

    .ghostkit-divider-icon {
        display: flex;
        padding: var(--gkt-divider--icon__padding-x) var(--gkt-divider--icon__padding-y);
        font-size: var(--gkt-divider--icon__font-size);
        color: var(--gkt-divider--icon__color);
        transition: var(--gkt-divider__transition-duration) color var(--gkt-divider__transition-easing);
    }
}
