/**
 * Frontend Styles
 */
@import "../../../variables";

.ghostkit-divider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;

    &::before,
    &::after {
        content: "";
        display: block;
        flex: 1;
        max-width: 50%;
        border-bottom: 1px solid $light-gray-200;
        transition: .2s border-color ease-in-out;
    }

    &:not(.ghostkit-divider-with-icon) {
        &::before {
            max-width: 100%;
        }
        &::after {
            display: none;
        }
    }

    &.ghostkit-divider-type-solid::before,
    &.ghostkit-divider-type-solid::after {
        border-bottom-style: solid;
    }
    &.ghostkit-divider-type-dashed::before,
    &.ghostkit-divider-type-dashed::after {
        border-bottom-style: dashed;
    }
    &.ghostkit-divider-type-dotted::before,
    &.ghostkit-divider-type-dotted::after {
        border-bottom-style: dotted;
    }
    &.ghostkit-divider-type-double::before,
    &.ghostkit-divider-type-double::after {
        border-bottom-style: double;
    }

    .ghostkit-divider-icon {
        display: flex;
        padding-right: 1em;
        padding-left: 1em;
        transition: .2s color ease-in-out;
    }
}
