/**
 * Control Select Component CSS
 */
.ghostkit-control-select {
	.fast-option-selected {
		color: #fff;
	}

	input[type="text"] {
		height: 20px;
		min-height: 20px;

		&:focus {
			box-shadow: none;
		}
	}
}
