.ghostkit-image-compare-overlay .ghostkit-image-compare-image-before::after,
.ghostkit-image-compare-overlay .ghostkit-image-compare-image-after::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: var(--gkt-image-compare--overlay__color);
  opacity: 0;
  transition: opacity var(--gkt-image-compare__transition-duration) var(--gkt-image-compare__transition-easing);
}

.ghostkit-image-compare-images:hover .ghostkit-image-compare-image-before::after,
.ghostkit-image-compare-images:hover .ghostkit-image-compare-image-after::after {
  opacity: var(--gkt-image-compare--overlay__opacity);
}

.ghostkit-image-compare-images:has(.ghostkit-image-compare-images-divider:hover) {
  --gkt-image-compare--overlay__opacity: 0;
}
