/**
 * Frontend Styles
 */
@import "./variables";

.ghostkit-image-compare {
    cursor: pointer;

    &-images {
        position: relative;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &-image-before,
    &-image-after {
        transition: var(--gkt-image-compare__transition-duration) clip-path var(--gkt-image-compare__transition-easing);
    }

    &-image-before {
        clip-path: polygon(var(--gkt-image-compare__position) 0, var(--gkt-image-compare__position) 100%, 0 100%, 0 0);
    }
    &-image-after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        clip-path: polygon(100% 0, 100% 100%, var(--gkt-image-compare__position) 100%, var(--gkt-image-compare__position) 0);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            /* support for plugin https://github.com/bfred-it/object-fit-images */
            font-family: "object-fit: cover;"; // stylelint-disable-line
            object-fit: cover;
        }
    }

    &-images-divider {
        position: absolute;
        top: 0;
        left: var(--gkt-image-compare__position);
        width: var(--gkt-image-compare--divider__width);
        height: 100%;
        margin-left: calc(var(--gkt-image-compare--divider__width) / -2);
        background-color: var(--gkt-image-compare--divider__background-color);
        transition: var(--gkt-image-compare__transition-duration) left var(--gkt-image-compare__transition-easing);

        &:hover,
        &:focus {
            --gkt-image-compare--divider-icons__offset: var(--gkt-image-compare--divider-hover-icons__offset);
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            width: var(--gkt-image-compare--divider-button__width);
            height: var(--gkt-image-compare--divider-button__height);
            background-color: var(--gkt-image-compare--divider-button__background-color);
            border-radius: var(--gkt-image-compare--divider-button__width);
            transform: translateX(-50%) translateY(-50%);
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 50%;
            width: var(--gkt-image-compare--divider-button__width);
            cursor: col-resize;
            transform: translateX(-50%);
        }

        &-button-arrow-left,
        &-button-arrow-right {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: var(--gkt-image-compare--divider-icons__font-size);
            color: var(--gkt-image-compare--divider-icons__color);
            transition: var(--gkt-image-compare__transition-duration) margin-left var(--gkt-image-compare__transition-easing);
            transform: translateX(-50%) translateY(-50%);

            svg {
                display: block;
                width: 1em;
                max-width: none;
                height: 1em;
                color: inherit;
            }
        }
        &-button-arrow-right {
            margin-left: var(--gkt-image-compare--divider-icons__offset);
        }
        &-button-arrow-left {
            margin-left: calc(-1 * var(--gkt-image-compare--divider-icons__offset));
        }
    }
}
