/**
 * GhostKit Settings Styles.
 */
@import "../gutenberg/variables";

@import "./components/info";
@import "./containers/container";
@import "./pages/blocks";
@import "./pages/css-js";
@import "./pages/icons";
@import "./pages/typography";

/**
 * Admin Menu Icon
 */
.wp-menu-image.dashicons-admin-ghostkit {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwMSA5NC41OTA2TDIxMy41IDk0LjU5MDZMMjAxIDk0LjU5MDZaTTU1IDk0LjU5MDZMNjcuNSA5NC41OTA2TDU1IDk0LjU5MDZaTTc1LjAzODMgMjEwLjQ1OEM2OC45MDEzIDIwNy4yOTcgNjEuMzYzMiAyMDkuNzA5IDU4LjIwMTYgMjE1Ljg0NkM1NS4wNCAyMjEuOTgzIDU3LjQ1MjEgMjI5LjUyMSA2My41ODkxIDIzMi42ODNMNzUuMDM4MyAyMTAuNDU4Wk0xOTIuNDExIDIzMi42ODNDMTk4LjU0OCAyMjkuNTIxIDIwMC45NiAyMjEuOTgzIDE5Ny43OTggMjE1Ljg0NkMxOTQuNjM3IDIwOS43MDkgMTg3LjA5OSAyMDcuMjk3IDE4MC45NjIgMjEwLjQ1OEwxOTIuNDExIDIzMi42ODNaTTEyOCAzMy41QzE2MS4zMTggMzMuNSAxODguNSA2MC43NTYgMTg4LjUgOTQuNTkwNkwyMTMuNSA5NC41OTA2QzIxMy41IDQ3LjEzOTIgMTc1LjMxNSA4LjUgMTI4IDguNUwxMjggMzMuNVpNMTg4LjUgOTQuNTkwNkMxODguNSAxMjguNDI1IDE2MS4zMTggMTU1LjY4MSAxMjggMTU1LjY4MUwxMjggMTgwLjY4MUMxNzUuMzE1IDE4MC42ODEgMjEzLjUgMTQyLjA0MiAyMTMuNSA5NC41OTA2TDE4OC41IDk0LjU5MDZaTTEyOCAxNTUuNjgxQzk0LjY4MTUgMTU1LjY4MSA2Ny41IDEyOC40MjUgNjcuNSA5NC41OTA2TDQyLjUgOTQuNTkwNkM0Mi41IDE0Mi4wNDIgODAuNjg0OSAxODAuNjgxIDEyOCAxODAuNjgxTDEyOCAxNTUuNjgxWk02Ny41IDk0LjU5MDZDNjcuNSA2MC43NTYgOTQuNjgxNSAzMy41IDEyOCAzMy41TDEyOCA4LjVDODAuNjg0OSA4LjUgNDIuNSA0Ny4xMzkyIDQyLjUgOTQuNTkwNkw2Ny41IDk0LjU5MDZaTTYzLjU4OTEgMjMyLjY4M0MxMDQuNTI3IDI1My43NzIgMTUxLjQ3MyAyNTMuNzcyIDE5Mi40MTEgMjMyLjY4M0wxODAuOTYyIDIxMC40NThDMTQ3LjIwOCAyMjcuODQ3IDEwOC43OTIgMjI3Ljg0NyA3NS4wMzgzIDIxMC40NThMNjMuNTg5MSAyMzIuNjgzWiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
}

.wp-menu-image.dashicons-admin-ghostkit-templates {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzIDc3LjE2NjdDNi4wOTY0NCA3Ny4xNjY3IDAuNSA4Mi43NjMxIDAuNSA4OS42NjY3QzAuNSA5Ni41NzAyIDYuMDk2NDQgMTAyLjE2NyAxMyAxMDIuMTY3Vjc3LjE2NjdaTTI0MyAxMDIuMTY3QzI0OS45MDQgMTAyLjE2NyAyNTUuNSA5Ni41NzAyIDI1NS41IDg5LjY2NjdDMjU1LjUgODIuNzYzMSAyNDkuOTA0IDc3LjE2NjcgMjQzIDc3LjE2NjdWMTAyLjE2N1pNNzcuMTY2NyAyNDNDNzcuMTY2NyAyNDkuOTA0IDgyLjc2MzEgMjU1LjUgODkuNjY2NyAyNTUuNUM5Ni41NzAyIDI1NS41IDEwMi4xNjcgMjQ5LjkwNCAxMDIuMTY3IDI0M0g3Ny4xNjY3Wk0xMDIuMTY3IDg5LjY2NjdDMTAyLjE2NyA4Mi43NjMxIDk2LjU3MDIgNzcuMTY2NyA4OS42NjY3IDc3LjE2NjdDODIuNzYzMSA3Ny4xNjY3IDc3LjE2NjcgODIuNzYzMSA3Ny4xNjY3IDg5LjY2NjdIMTAyLjE2N1pNMzguNTU1NiAyNS41SDIxNy40NDRWMC41SDM4LjU1NTZWMjUuNVpNMjE3LjQ0NCAyNS41QzIyNC42NTUgMjUuNSAyMzAuNSAzMS4zNDUyIDIzMC41IDM4LjU1NTZIMjU1LjVDMjU1LjUgMTcuNTM4MSAyMzguNDYyIDAuNSAyMTcuNDQ0IDAuNVYyNS41Wk0yMzAuNSAzOC41NTU2VjIxNy40NDRIMjU1LjVWMzguNTU1NkgyMzAuNVpNMjMwLjUgMjE3LjQ0NEMyMzAuNSAyMjQuNjU1IDIyNC42NTUgMjMwLjUgMjE3LjQ0NCAyMzAuNVYyNTUuNUMyMzguNDYyIDI1NS41IDI1NS41IDIzOC40NjIgMjU1LjUgMjE3LjQ0NEgyMzAuNVpNMjE3LjQ0NCAyMzAuNUgzOC41NTU2VjI1NS41SDIxNy40NDRWMjMwLjVaTTM4LjU1NTYgMjMwLjVDMzEuMzQ1MiAyMzAuNSAyNS41IDIyNC42NTUgMjUuNSAyMTcuNDQ0SDAuNUMwLjUgMjM4LjQ2MiAxNy41MzgxIDI1NS41IDM4LjU1NTYgMjU1LjVWMjMwLjVaTTI1LjUgMjE3LjQ0NFYzOC41NTU2SDAuNVYyMTcuNDQ0SDI1LjVaTTI1LjUgMzguNTU1NkMyNS41IDMxLjM0NTIgMzEuMzQ1MiAyNS41IDM4LjU1NTYgMjUuNVYwLjVDMTcuNTM4MSAwLjUgMC41IDE3LjUzODEgMC41IDM4LjU1NTZIMjUuNVpNMTMgMTAyLjE2N0gyNDNWNzcuMTY2N0gxM1YxMDIuMTY3Wk0xMDIuMTY3IDI0M1Y4OS42NjY3SDc3LjE2NjdWMjQzSDEwMi4xNjdaIiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 48%;
}

body.toplevel_page_ghostkit {
    // prevent content jumping
    overflow-y: scroll;
    background-color: $light-gray-100;
}

.ghostkit-admin-page {
    padding: 35px;
    margin-left: -20px;

    .ghostkit-settings-content-wrapper {
        position: relative;
        max-width: 770px;
        padding: 25px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 1px $light-gray-400;
        transition: .2s opacity;
        will-change: opacity;

        > .components-base-control:last-child,
        > .components-base-control:last-child > .components-base-control__field {
            margin-bottom: 0;
        }
    }

    // Inputs.
    .components-text-control__input {
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow .1s linear;
    }

    &,
    * {
        box-sizing: border-box;
    }
}
