/**
 * Editor Styles
 */
@import "../../variables";

.editor-styles-wrapper {
    /**
     * None.
     */
    .block-library-list .is-style-none,
    .block-library-list .is-style-none li {
        padding-left: 0;
        list-style: none;
    }

    /**
     * Styled.
     */
    .block-library-list .is-style-styled {
        padding-left: 0;
        list-style: none;
    }
    .is-style-styled {
        line-height: 1.5;

        > li {
            position: relative;
            display: flex;
            flex-wrap: wrap;

            > ul,
            > ol {
                width: 100%;
            }

            &::before {
                display: flex;
                align-items: center;
                align-self: center;
                justify-content: center;
            }
        }
    }

    ol.is-style-styled {
        counter-reset: li;

        > li::before {
            content: counter(li);
            width: 1.6em;
            height: 1.6em;
            margin-right: .8em;
            font-size: .7em;
            font-weight: 600;
            line-height: 1;
            counter-increment: li;
            background-color: rgba(204, 204, 204, .2);
            border-radius: 50%;
        }
    }

    ul.is-style-styled {
        > li {
            padding-left: 2em;

            &::before {
                content: "";
                top: .65em;
                left: .9em;
                width: .2em;
                height: .2em;
                margin-right: .72em;
                background-color: rgba(204, 204, 204, .5);
            }
        }
    }
}
