/**
 * Editor Styles
 */
@import "../../variables";

.editor-styles-wrapper {
    /**
     * None.
     */
    .block-library-list .is-style-none,
    .block-library-list .is-style-none li {
        padding-left: 0;
        list-style: none;
    }

    /**
     * Styled.
     */
    .block-library-list .is-style-styled {
        padding-left: 0;
        list-style: none;
    }
    .is-style-styled {
        padding-left: 0;
        line-height: 1.5;
        list-style: none;

        li + li {
            margin-top: .5em;
        }

        > li {
            > ul,
            > ol {
                width: 100%;
                padding-left: 3em;
            }
        }
    }

    ol.is-style-styled {
        counter-reset: li;

        > li {
            position: relative;
            display: flex;

            &::before {
                content: counter(li);
                display: flex;
                flex: 0 0 2em;
                align-items: center;
                align-self: flex-start;
                justify-content: center;
                height: 2em;
                margin-right: .8em;
                font-size: .7em;
                font-weight: 600;
                line-height: 1;
                counter-increment: li;
                background-color: rgba(204, 204, 204, .2);
                border-radius: 50%;
            }
        }
    }

    ul.is-style-styled {
        > li {
            position: relative;
            padding-left: 2em;

            &::before {
                content: "";
                position: absolute;
                top: .65em;
                left: .9em;
                width: .2em;
                height: .2em;
                margin-right: .72em;
                background-color: rgba(204, 204, 204, .5);
            }
        }
    }
}
