/**
 * Block Variables
 */
@import "../../variables";

.is-style-styled {
    // Li Items.
    --gkt-styled-lists--items__line-height: 1.5;
    --gkt-styled-lists--items__gap: .5em;

    // Inner Lists.
    --gkt-styled-lists--inner-lists__padding-v: 1em;
    --gkt-styled-lists--inner-lists__padding-h: 0;

    // Numbered Lists.
    --gkt-styled-lists-numbered__padding-left: 2em;
    --gkt-styled-lists-numbered--decoration__top: #{0 * 1px};
    --gkt-styled-lists-numbered--decoration__left: #{0 * 1px};
    --gkt-styled-lists-numbered--decoration__width: 2em;
    --gkt-styled-lists-numbered--decoration__height: 2em;
    --gkt-styled-lists-numbered--decoration__font-size: .7em;
    --gkt-styled-lists-numbered--decoration__font-weight: 600;
    --gkt-styled-lists-numbered--decoration__line-height: 1;
    --gkt-styled-lists-numbered--decoration__color: #fff;
    --gkt-styled-lists-numbered--decoration__background-color: var(--gkt-color-dark-gray);
    --gkt-styled-lists-numbered--decoration__border-radius: 50%;

    // Dotted Lists.
    --gkt-styled-lists-dotted__padding-left: 2em;
    --gkt-styled-lists-dotted--decoration__top: .65em;
    --gkt-styled-lists-dotted--decoration__left: .9em;
    --gkt-styled-lists-dotted--decoration__width: .2em;
    --gkt-styled-lists-dotted--decoration__height: .2em;
    --gkt-styled-lists-dotted--decoration__background-color: var(--gkt-color-dark-gray);
}
