@use "sass:color";

/**
 * Admin Styles.
 */
@import "../../../gutenberg/variables";

/*
 * Go Pro menu link
 */
#adminmenu a[href="admin.php?page=ghostkit_go_pro"],
.wp-list-table.plugins a[href="admin.php?page=ghostkit_go_pro"] {
  font-weight: 700;
  color: $color-success;

  .dashicons {
    transition: none;
  }

  &:hover,
  &:focus {
    color: color.adjust($color-success, $lightness: -10%);
  }
}

// TODO: remove this fix when Gutenberg fixes this.
.components-select-control select[multiple] {
  height: auto;
  padding-right: 8px;

  ~ .components-input-control__suffix {
    display: none;
  }
}
