/**
 * Element Icons.
 */
@import "../../../blocks/variables";

img.ghostkit-icon {
    pointer-events: none;
}

/**
 * Tabs Control.
 */
.ghostkit-control-tabs {
    padding: 15px;
    border: 1px solid $light-gray-400;

    .components-tab-panel__tabs {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $light-gray-400;

        .ghostkit-control-tabs-tab {
            padding: 9px 11px;
            padding-bottom: 11px;
            margin: 0;
            margin-bottom: -1px;
            color: #555d66;
            cursor: pointer;
            background: none;
            border: none;
            border-bottom: 2px solid transparent;
            border-radius: 0;
            outline-offset: -1px;

            &.is-active {
                position: relative;
                border-bottom: 2px solid $blue-medium-500;
                z-index: 1;
            }
        }
    }

    .ghostkit-control-tabs-separator {
        padding: 15px;
        margin-right: -15px;
        margin-left: -15px;
        border-top: 1px solid $light-gray-400;

        &:first-child {
            margin-top: -16px;
        }
    }
}

/**
 * Indents Control.
 */
.ghostkit-control-indent {
    position: relative;
    width: 100%;
    padding-top: 90%;
    border: 1px solid #e8eaec;

    // logo
    .ghostkit-control-indent-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        opacity: .15;
        z-index: 1;
    }

    .ghostkit-control-indent-margin,
    .ghostkit-control-indent-padding {
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);

        .components-base-control {
            margin: 0;
        }

        > span {
            position: absolute;
            top: 2px;
            left: 6px;
            font-size: .7em;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 35px;
            padding: 3px 5px;
            text-align: center;
        }
    }

    // margins
    .ghostkit-control-indent-margin {
        .ghostkit-control-indent-margin-top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        .ghostkit-control-indent-margin-right {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
        .ghostkit-control-indent-margin-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .ghostkit-control-indent-margin-left {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
    }

    // paddings.
    .ghostkit-control-indent-padding {
        top: 36px;
        left: 46px;
        width: calc(100% - 92px);
        height: calc(100% - 72px);
        background-color: #f2f2f2;

        > span {
            top: 6px;
            left: 10px;
        }

        // paddings.
        .ghostkit-control-indent-padding-top {
            position: absolute;
            top: 5px;
            left: 5px;
            width: calc(100% - 10px);
        }
        .ghostkit-control-indent-padding-right {
            position: absolute;
            top: 5px;
            right: 5px;
            height: calc(100% - 10px);
        }
        .ghostkit-control-indent-padding-bottom {
            position: absolute;
            bottom: 5px;
            left: 5px;
            width: calc(100% - 10px);
        }
        .ghostkit-control-indent-padding-left {
            position: absolute;
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
        }
    }

    // device selector.
    .ghostkit-control-indent-device {
        position: absolute;
        bottom: 5px;
        left: 5px;

        .components-base-control {
            margin: 0;
        }

        select {
            height: 25px;
            font-size: .7em;
            line-height: 25px;
        }
        option {
            font-size: 1rem;
        }
    }
}

/**
 * Display Control
 */
.ghostkit-control-display {
    .ghostkit-control-display-box {
        display: flex;

        > .components-base-control {
            flex: 1;
        }
    }
    .ghostkit-control-display-icon {
        width: 17px;
        margin-top: 6px;
        margin-right: 15px;
        text-align: center;
    }
}
