@import "../../variables";

.ghostkit-tools-panel-spacings {
	display: flex;
	flex-direction: column;
	grid-column: 1 / -1;
	gap: 15px;
}

.ghostkit-tools-panel-spacings-row {
	width: 100%;

	> div > div {
		display: flex;
	}

	.components-base-control__help {
		margin-top: -6px;
		font-size: 9px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		opacity: 0.7;
	}

	.ghostkit-component-input-drag {
		margin-right: -1px;
	}
}

.ghostkit-tools-panel-spacings-item {
	position: relative;

	.ghostkit-control-important-toggle {
		position: absolute;
		top: 6px;
		right: 1px;
		opacity: 0;
	}

	&:hover .ghostkit-control-important-toggle,
	&:has(input:focus) .ghostkit-control-important-toggle,
	.ghostkit-control-important-toggle:focus,
	.ghostkit-control-important-toggle.is-active {
		opacity: 1;
	}
}
