/**
 * Block Variables
 */
@import "../../../variables";

.ghostkit-alert {
	--gkt-alert__padding-v: 1.5em;
	--gkt-alert__padding-h: 1.5em;
	--gkt-alert__border-color: var(--gkt-color-warning);
	--gkt-alert__border-width: 1px;
	--gkt-alert__border-left-width: 3px;
	--gkt-alert__border-radius: var(--gkt-border-radius);

	// Icon.
	--gkt-alert--icon__padding: 3px;
	--gkt-alert--icon__padding-right: 1.5em;
	--gkt-alert--icon__font-size: 1em;
	--gkt-alert--icon__color: var(--gkt-color-warning);

	// Hide Button.
	--gkt-alert--hide-button__padding-left: 1.5em;
	--gkt-alert--hide-button__font-size: 0.8em;
	--gkt-alert--hide-button-hover__opacity: 0.6;

	// Transitions.
	--gkt-alert__transition-duration: var(--gkt-transition-duration);
	--gkt-alert__transition-easing: var(--gkt-transition-easing);
}
