/**
 * Frontend Styles
 */
@import "../../variables";

.ghostkit-changelog {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 0;

    + .ghostkit-changelog {
        margin-top: -28px;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 30px;
        width: 3px;
        height: 100%;
        background-color: rgba(0, 0, 0, .07);
        z-index: -1;
    }

    .ghostkit-changelog-version {
        width: 65px;
        min-width: 65px;
        padding: 0;
        font-weight: 600;
        color: #fff;
        text-align: center;
        background-color: #6a6c75;
        border-radius: 4px;
    }

    .ghostkit-changelog-date {
        margin: 0;
        margin-left: 1em;
        font-size: 1em;
    }

    .ghostkit-changelog-more {
        width: 100%;
        min-width: 100%;
        padding-left: calc(65px + 1em);
        margin-top: 1.5em;

        @media screen and (max-width: 768px) {
            padding-left: 0;
        }

        > ul,
        > ol {
            padding: 0;
            margin: 0;
            margin-bottom: 1rem;
            list-style: none;

            li {
                display: flex;
                align-items: flex-start;
                margin-bottom: .5em;
            }
        }
    }

    .ghostkit-alert {
        margin-bottom: 1rem;
    }

    .ghostkit-badge {
        flex: 0 0 75px;
        min-width: 75px;
        margin-right: 1em;
        font-size: 65%;
        font-weight: 600;
        text-transform: uppercase;
    }
}
