/**
 * Frontend Styles
 */
@import "../../variables";

.ghostkit-countdown {
    display: flex;
    flex-wrap: wrap;

    // Align.
    &.ghostkit-countdown-units-align-left {
        justify-content: flex-start;
    }
    &.ghostkit-countdown-units-align-center {
        justify-content: center;
    }
    &.ghostkit-countdown-units-align-right {
        justify-content: flex-end;
    }

    // Single unit.
    .ghostkit-countdown-unit {
        flex: 0 0 auto;
        min-width: 130px;
        padding: .7em 1.4em;
        text-align: center;

        span {
            display: block;
        }
    }

    .ghostkit-countdown-unit-number {
        font-weight: 700;
    }

    .ghostkit-countdown-expire-action {
        display: none;
        width: 100%;
    }
}
