/**
 * Typography Component CSS
 */
.ghostkit-control-typography {
    display: flex;
    flex-wrap: wrap;

    .ghostkit-component-input-drag .components-text-control__input:not(:focus) {
        border-color: #ccc;
    }

    .ghostkit-typography-font-control {
        flex: 1;
        min-width: 50%;
        max-width: 100%;
        padding-right: 25px;
    }
    .ghostkit-typography-weight-control {
        flex: 1 0 33.3%;
        max-width: 33%;
    }
    .ghostkit-typography-size-control,
    .ghostkit-typography-line-control,
    .ghostkit-typography-letter-control {
        flex: 1;
        min-width: 33.3%;
        max-width: 100%;
    }
    .ghostkit-typography-font-control ~ .ghostkit-typography-size-control,
    .ghostkit-typography-weight-control ~ .ghostkit-typography-size-control,
    .ghostkit-typography-font-control ~ .ghostkit-typography-line-control,
    .ghostkit-typography-weight-control ~ .ghostkit-typography-line-control,
    .ghostkit-typography-font-control ~ .ghostkit-typography-letter-control,
    .ghostkit-typography-weight-control ~ .ghostkit-typography-letter-control {
        margin-top: 1.33rem;
    }
    .ghostkit-typography-size-control + .ghostkit-typography-line-control,
    .ghostkit-typography-line-control + .ghostkit-typography-letter-control {
        padding-left: 25px;
    }
}
