/**
 * Editor Styles
 */
@import "./variables";

.ghostkit-pricing-table {
    // fix for negative margins.
    &::after {
        content: "";
        display: block;
        height: .01px;
        clear: both;
    }

    > .block-editor-inner-blocks {
        margin-bottom: calc(-1 * var(--gkt-pricing-table__gap));
        margin-left: calc(-1 * var(--gkt-pricing-table__gap));

        > .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;

            > .wp-block {
                flex-basis: 0;
                flex-grow: 1;
                margin-bottom: var(--gkt-pricing-table__gap);
                margin-left: var(--gkt-pricing-table__gap);
            }
        }
    }

    // Item.
    &-item {
        position: relative;
        padding: var(--gkt-pricing-table--item__padding-v) var(--gkt-pricing-table--item__padding-h);
        border: var(--gkt-pricing-table--item__border-width) solid var(--gkt-pricing-table--item__border-color);
        border-radius: var(--gkt-pricing-table--item__border-radius);

        // Popular Badge.
        &-popular-badge {
            position: absolute;
            top: var(--gkt-pricing-table--popular-badge__top);
            right: calc(-1 * var(--gkt-pricing-table--item__border-width));
            padding: var(--gkt-pricing-table--popular-badge__padding-v) var(--gkt-pricing-table--popular-badge__padding-h);
            font-size: var(--gkt-pricing-table--popular-badge__font-size);
            color: var(--gkt-pricing-table--popular-badge__color);
            background-color: var(--gkt-pricing-table--popular-badge__background-color);
        }
        .editor-styles-wrapper & &-popular-badge {
            margin-top: 0;
        }

        // Title.
        .editor-styles-wrapper & &-title {
            margin: 0;
            font-size: var(--gkt-pricing-table--title__font-size);
        }

        // Price.
        &-price {
            position: relative;
            display: flex;
            justify-content: center;
        }
        &-price-amount {
            font-size: var(--gkt-pricing-table--price-amount__font-size);
            line-height: var(--gkt-pricing-table--price-amount__line-height);

            .editor-rich-text__tinymce.mce-content-body {
                line-height: 1;
            }
        }
        &-price-currency {
            align-self: flex-start;
        }
        &-price-repeat {
            align-self: flex-end;
        }

        // Features.
        .editor-styles-wrapper &-features {
            position: relative;
            padding: 0;
            margin: 0;
            font-size: var(--gkt-pricing-table--features__font-size);
            list-style: none;

            &[data-is-placeholder-visible="true"] {
                position: absolute;
            }

            li {
                margin-left: 0;
                list-style: none;
            }

            li + li {
                margin-top: var(--gkt-pricing-table--features-items__gap);
            }
        }

        .ghostkit-button-wrapper {
            margin-bottom: 0;
        }

        // Elements gap.
        .editor-styles-wrapper & > * {
            margin-top: var(--gkt-pricing-table--elements__gap);

            &:first-child {
                margin-top: 0;
            }
        }

        // placeholders.
        .editor-rich-text__tinymce + .editor-rich-text__tinymce,
        .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
            color: rgba(14, 28, 46, .4);
        }
    }

    // Count.
    [data-type="ghostkit/pricing-table-item"].wp-block {
        // We can't use flex + calc
        // https://github.com/nk-o/ghostkit/issues/103
        flex-basis: calc(100% / var(--gkt-pricing-table__columns) - var(--gkt-pricing-table__gap));
        flex-shrink: 0;
        flex-grow: 0;
        max-width: calc(100% / var(--gkt-pricing-table__columns) - var(--gkt-pricing-table__gap));
        margin: 0;
    }
    &-items-1 {
        --gkt-pricing-table__columns: 1;
    }
    &-items-2 {
        --gkt-pricing-table__columns: 2;

        @media screen and (max-width: #{$media-sm}) {
            --gkt-pricing-table__columns: 1;
        }
    }
    &-items-3 {
        --gkt-pricing-table__columns: 3;

        @media screen and (max-width: #{$media-sm}) {
            --gkt-pricing-table__columns: 1;
        }
    }
    &-items-4 {
        --gkt-pricing-table__columns: 4;

        @media screen and (max-width: #{$media-sm}) {
            --gkt-pricing-table__columns: 2;
        }

        @media screen and (max-width: #{$media-xs}) {
            --gkt-pricing-table__columns: 1;
        }
    }
    &-items-5 {
        --gkt-pricing-table__columns: 5;

        @media screen and (max-width: #{$media-sm}) {
            --gkt-pricing-table__columns: 2;
        }

        @media screen and (max-width: #{$media-xs}) {
            --gkt-pricing-table__columns: 1;
        }
    }
    &-items-6 {
        --gkt-pricing-table__columns: 6;

        @media screen and (max-width: #{$media-md}) {
            --gkt-pricing-table__columns: 3;
        }

        @media screen and (max-width: #{$media-sm}) {
            --gkt-pricing-table__columns: 2;
        }

        @media screen and (max-width: #{$media-xs}) {
            --gkt-pricing-table__columns: 1;
        }
    }

    // Gaps.
    @each $name, $size in $grid-gaps {
        &-gap-#{$name} {
            --gkt-pricing-table__gap: #{$size};
        }
    }

    // Horizontal align.
    &-align-horizontal-left {
        text-align: left;

        .ghostkit-pricing-table-item-price {
            justify-content: flex-start;
        }
    }
    &-align-horizontal-center {
        text-align: center;

        .ghostkit-pricing-table-item-price {
            justify-content: center;
        }
    }
    &-align-horizontal-right {
        text-align: right;

        .ghostkit-pricing-table-item-price {
            justify-content: flex-end;
        }
    }

    // Vertical align.
    &-align-vertical-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
        align-items: center;
    }
    &-align-vertical-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
        align-items: flex-end;
    }

    &-add-item {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
}
