/**
 * Editor Styles
 */
@import "./variables";

.ghostkit-pricing-table > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;

    // fix items margin top.
    > .block-editor-block-list__block > .block-editor-block-list__block-edit {
        margin-top: 12px;
    }
}

// hide drag handler from single pricings
// rotate move pricings
[data-type="ghostkit/pricing-table-item"] > .editor-block-mover {
    > .editor-block-mover__control-drag-handle {
        display: none;
    }
    > .components-button:first-child svg,
    > .editor-block-mover__control-drag-handle + .components-button svg {
        transform: rotate(-90deg);
    }
}

// Item.
.ghostkit-pricing-table-item {
    position: relative;
    padding: var(--gkt-pricing-table--item__padding-x) var(--gkt-pricing-table--item__padding-y);
    border: var(--gkt-pricing-table--item__border-width) solid var(--gkt-pricing-table--item__border-color);
    border-radius: var(--gkt-pricing-table--item__border-radius);

    .ghostkit-pricing-table-item-popular-badge {
        position: absolute;
        top: var(--gkt-pricing-table--popular-badge__top);
        right: calc(-1 * var(--gkt-pricing-table--item__border-width));
        padding: var(--gkt-pricing-table--popular-badge__padding-x) var(--gkt-pricing-table--popular-badge__padding-y);
        margin-top: 0;
        font-size: var(--gkt-pricing-table--popular-badge__font-size);
        color: var(--gkt-pricing-table--popular-badge__color);
        background-color: var(--gkt-pricing-table--popular-badge__background-color);
    }

    .ghostkit-pricing-table-item-title {
        font-size: var(--gkt-pricing-table--title__font-size);
    }

    .ghostkit-pricing-table-item-price {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .ghostkit-pricing-table-item-price-amount {
        font-size: var(--gkt-pricing-table--price-amount__font-size);
        line-height: var(--gkt-pricing-table--price-amount__line-height);

        .editor-rich-text__tinymce.mce-content-body {
            line-height: 1;
        }
    }
    .ghostkit-pricing-table-item-price-currency {
        align-self: flex-start;
    }
    .ghostkit-pricing-table-item-price-repeat {
        align-self: flex-end;
    }

    .block-editor-block-list__block & .ghostkit-pricing-table-item-features {
        position: relative;
        margin: 0;
        font-size: var(--gkt-pricing-table--features__font-size);
        list-style: none;

        &[data-is-placeholder-visible="true"] {
            position: absolute;
        }

        li {
            margin-left: 0;
            list-style: none;
        }

        li + li {
            margin-top: var(--gkt-pricing-table--features-items__gap);
        }
    }

    .ghostkit-button-wrapper {
        margin-bottom: 0;
    }

    > * + * {
        margin-top: var(--gkt-pricing-table--elements__gap);
    }

    // placeholders.
    .editor-rich-text__tinymce + .editor-rich-text__tinymce,
    .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
        color: rgba(14, 28, 46, .4);
    }
}

// Count.
.editor-styles-wrapper {
    [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 50%;
    }
    .ghostkit-pricing-table-items-1 [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 100%;
    }
    .ghostkit-pricing-table-items-2 [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 50%;

        @media screen and (max-width: #{$media-sm}) {
            width: 100%;
        }
    }
    .ghostkit-pricing-table-items-3 [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 33.3333%;

        @media screen and (max-width: #{$media-sm}) {
            width: 100%;
        }
    }
    .ghostkit-pricing-table-items-4 [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 25%;

        @media screen and (max-width: #{$media-sm}) {
            width: 50%;
        }

        @media screen and (max-width: #{$media-xs}) {
            width: 100%;
        }
    }
    .ghostkit-pricing-table-items-5 [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 20%;

        @media screen and (max-width: #{$media-sm}) {
            width: 50%;
        }

        @media screen and (max-width: #{$media-xs}) {
            width: 100%;
        }
    }
    .ghostkit-pricing-table-items-6 [data-type="ghostkit/pricing-table-item"].wp-block {
        width: 16.6666%;

        @media screen and (max-width: #{$media-md}) {
            width: 33.3333%;
        }

        @media screen and (max-width: #{$media-sm}) {
            width: 50%;
        }

        @media screen and (max-width: #{$media-xs}) {
            width: 100%;
        }
    }
}

// Horizontal align.
.ghostkit-pricing-table-align-horizontal-left {
    text-align: left;

    .ghostkit-pricing-table-item-price {
        justify-content: flex-start;
    }
}
.ghostkit-pricing-table-align-horizontal-center {
    text-align: center;

    .ghostkit-pricing-table-item-price {
        justify-content: center;
    }
}
.ghostkit-pricing-table-align-horizontal-right {
    text-align: right;

    .ghostkit-pricing-table-item-price {
        justify-content: flex-end;
    }
}

// Vertical align.
.ghostkit-pricing-table-align-vertical-center > .block-editor-inner-blocks > .block-editor-block-list__layout {
    align-items: center;
}
.ghostkit-pricing-table-align-vertical-end > .block-editor-inner-blocks > .block-editor-block-list__layout {
    align-items: flex-end;
}
